In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\archana\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\archana\anaconda3\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\archana\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)
Requirement already satisfied: requests in c:\users\archana\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\archana\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\archana\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\archana\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\archana\anaconda3\lib\site-packages (from requests) (3.2)

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Q.1.Answer: A python program to display all the header tags from wikipedia.org

In [3]:
page= requests.get('https://en.wikipedia.org/wiki/Main_Page')
page

In [4]:
soup= BeautifulSoup(page.content)

In [5]:
header_tags=['h1','h2','h3','h4','h5','h6','h7']
for i in soup.find_all(header_tags):    
    print(i.name + ' : ' + i.text.strip())

h1 : Main Page
h1 : Welcome to Wikipedia
h2 : From today's featured article
h2 : Did you know ...
h2 : In the news
h2 : On this day
h2 : Today's featured picture
h2 : Other areas of Wikipedia
h2 : Wikipedia's sister projects
h2 : Wikipedia languages
h2 : Navigation menu
h3 : Personal tools
h3 : Namespaces
h3 : Views
h3 : Search
h3 : Navigation
h3 : Contribute
h3 : Tools
h3 : Print/export
h3 : In other projects
h3 : Languages

# Q.2.Answer:  A python program to display IMDB’s Top rated 100 movies’ data

In [6]:
page1= requests.get('https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&count=100&start=1&ref_=adv_nxt')
page1

In [7]:
soup1= BeautifulSoup(page1.content)

In [8]:
name=[]
for i in soup1.find_all('h3', class_="lister-item-header"):
    cells = i.find_all('a')
    name.append(cells[0].text.strip())
name

['The Shawshank Redemption',
 'The Godfather',
 'The Dark Knight',
 'The Lord of the Rings: The Return of the King',
 "Schindler's List",
 'The Godfather Part II',
 '12 Angry Men',
 'Pulp Fiction',
 'Inception',
 'The Lord of the Rings: The Two Towers',
 'Fight Club',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Forrest Gump',
 'Il buono, il brutto, il cattivo',
 'The Matrix',
 'Goodfellas',
 'The Empire Strikes Back',
 "One Flew Over the Cuckoo's Nest",
 'Top Gun: Maverick',
 'Interstellar',
 'Cidade de Deus',
 'Sen to Chihiro no kamikakushi',
 'Saving Private Ryan',
 'The Green Mile',
 'La vita è bella',
 'Se7en',
 'Terminator 2: Judgment Day',
 'The Silence of the Lambs',
 'Star Wars',
 'Seppuku',
 'Shichinin no samurai',
 "It's a Wonderful Life",
 'Gisaengchung',
 'Whiplash',
 'The Intouchables',
 'The Prestige',
 'The Departed',
 'The Pianist',
 'Gladiator',
 'American History X',
 'The Usual Suspects',
 'Léon',
 'The Lion King',
 'Nuovo Cinema Paradiso',
 'Hotaru no haka',
 'Back to the Future',
 'Apocalypse Now',
 'Alien',
 'Once Upon a Time in the West',
 'Psycho',
 'Rear Window',
 'Casablanca',
 'Modern Times',
 'City Lights',
 'Capharnaüm',
 'Joker',
 'Kimi no na wa.',
 'Spider-Man: Into the Spider-Verse',
 'Avengers: Endgame',
 'Avengers: Infinity War',
 'Coco',
 'Django Unchained',
 'The Dark Knight Rises',
 '3 Idiots',
 'WALL·E',
 'The Lives of Others',
 'Oldeuboi',
 'Memento',
 'American Beauty',
 'Mononoke-hime',
 'Braveheart',
 'Aliens',
 'Amadeus',
 'Raiders of the Lost Ark',
 'Das Boot',
 'The Shining',
 'Tengoku to jigoku',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'Witness for the Prosecution',
 'Paths of Glory',
 'Sunset Blvd.',
 'The Great Dictator',
 'Jagten',
 'Toy Story 3',
 'Inglourious Basterds',
 'Eternal Sunshine of the Spotless Mind',
 "Le fabuleux destin d'Amélie Poulain",
 'Requiem for a Dream',
 'Good Will Hunting',
 'Toy Story',
 'Reservoir Dogs',
 'Once Upon a Time in America',
 'Star Wars: Episode VI - Return of the Jedi',
 '2001: A Space Odyssey',
 'Lawrence of Arabia',
 'North by Northwest',
 'Vertigo',
 "Singin' in the Rain",
 'Citizen Kane',
 'M - Eine Stadt sucht einen Mörder']

In [8]:
rating=[]
for i in soup1.find_all('div', class_="inline-block ratings-imdb-rating"):
    rating.append(i.text.replace('\n',''))
rating

['9.3',
 '9.2',
 '9.0',
 '9.0',
 '9.0',
 '9.0',
 '9.0',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3']

In [9]:
release=[]
for i in soup1.find_all('span', class_="lister-item-year text-muted unbold"):
    release.append(i.text)
release

['(1994)',
 '(1972)',
 '(2008)',
 '(2003)',
 '(1993)',
 '(1974)',
 '(1957)',
 '(1994)',
 '(2010)',
 '(2002)',
 '(1999)',
 '(2001)',
 '(1994)',
 '(1966)',
 '(1999)',
 '(1990)',
 '(1980)',
 '(1975)',
 '(2022)',
 '(2014)',
 '(2002)',
 '(2001)',
 '(1998)',
 '(1999)',
 '(1997)',
 '(1995)',
 '(1991)',
 '(1991)',
 '(1977)',
 '(1962)',
 '(1954)',
 '(1946)',
 '(2019)',
 '(2014)',
 '(2011)',
 '(2006)',
 '(2006)',
 '(2002)',
 '(2000)',
 '(1998)',
 '(1995)',
 '(1994)',
 '(1994)',
 '(1988)',
 '(1988)',
 '(1985)',
 '(1979)',
 '(1979)',
 '(1968)',
 '(1960)',
 '(1954)',
 '(1942)',
 '(1936)',
 '(1931)',
 '(2018)',
 '(I) (2019)',
 '(2016)',
 '(2018)',
 '(2019)',
 '(2018)',
 '(I) (2017)',
 '(2012)',
 '(2012)',
 '(2009)',
 '(2008)',
 '(2006)',
 '(2003)',
 '(2000)',
 '(1999)',
 '(1997)',
 '(1995)',
 '(1986)',
 '(1984)',
 '(1981)',
 '(1981)',
 '(1980)',
 '(1963)',
 '(1964)',
 '(1957)',
 '(1957)',
 '(1950)',
 '(1940)',
 '(2012)',
 '(2010)',
 '(2009)',
 '(2004)',
 '(2001)',
 '(2000)',
 '(1997)',
 '(1995)',
 '(1992)',
 '(1984)',
 '(1983)',
 '(1968)',
 '(1962)',
 '(1959)',
 '(1958)',
 '(1952)',
 '(1941)',
 '(1931)']

In [10]:
print('*'*73)
print('\t\t\t IMDB’s Top rated 100 Movies')
print('*'*73)
df_movie=pd.DataFrame({'Name of Movie':name, 'Rating of Movie':rating, 'Year of Release of Movie':release})
df_movie

*************************************************************************
			 IMDB’s Top rated 100 Movies
*************************************************************************

,Name of Movie,Rating of Movie,Year of Release of Movie
0,The Shawshank Redemption,9.3,(1994)
1,The Godfather,9.2,(1972)
2,The Dark Knight,9.0,(2008)
3,The Lord of the Rings: The Return of the King,9.0,(2003)
4,Schindler's List,9.0,(1993)
...,...,...,...
95,North by Northwest,8.3,(1959)
96,Vertigo,8.3,(1958)
97,Singin' in the Rain,8.3,(1952)
98,Citizen Kane,8.3,(1941)
99,M - Eine Stadt sucht einen Mörder,8.3,(1931)

# Q.3.Answer:  A python program to display IMDB’s Top rated 100 Indian movies’ data

In [10]:
page2= requests.get('https://www.imdb.com/list/ls009997493/?sort=user_rating,desc&st_dt=&mode=detail&page=1')
page2

In [11]:
soup2= BeautifulSoup(page2.content)

In [12]:
name2=[]
for i in soup2.find_all('h3', class_="lister-item-header"):
    cells = i.find_all('a')
    name2.append(cells[0].text.strip())
name2

['Golmaal',
 '3 Idiots',
 'Masoom',
 'Black Friday',
 'Taare Zameen Par',
 'Satya',
 'Khosla Ka Ghosla!',
 'Chhoti Si Baat',
 'Angoor',
 'Jaane Bhi Do Yaaro',
 'Guide',
 'Pyaasa',
 'Chupke Chupke',
 'Gangs of Wasseypur',
 'Paan Singh Tomar',
 'Bhaag Milkha Bhaag',
 'Jo Jeeta Wohi Sikandar',
 'Zindagi Na Milegi Dobara',
 'Lagaan: Once Upon a Time in India',
 'Swades: We, the People',
 'Dil Chahta Hai',
 'Barfi!',
 'Rang De Basanti',
 'Sholay',
 'A Wednesday',
 'Hera Pheri',
 'Omkara',
 'Munna Bhai M.B.B.S.',
 'Kahaani',
 'Chak De! India',
 'OMG: Oh My God!',
 'Black',
 'Udaan',
 'Anand',
 'Sarfarosh',
 'Mughal-E-Azam',
 'Bawarchi',
 'The Legend of Bhagat Singh',
 'Iqbal',
 'Dilwale Dulhania Le Jayenge',
 'Special Chabbis',
 'Andaz Apna Apna',
 'Lage Raho Munna Bhai',
 'Gulaal',
 'Maqbool',
 'Company',
 'Deewaar',
 'Vaastav: The Reality',
 'Padosan',
 'Kal Ho Naa Ho',
 'My Name Is Khan',
 'Jab We Met',
 'Hey Ram',
 'Salaam Bombay!',
 'Dev.D',
 'Johnny Gaddaar',
 'Pinjar: Beyond Boundaries...',
 'Hazaaron Khwaishein Aisi',
 'Shree 420',
 'Dor',
 'Zakhm',
 'The Lunchbox',
 'English Vinglish',
 'Vicky Donor',
 'Lakshya',
 'Awaara',
 'Gangaajal',
 'Dasvidaniya',
 'Abhimaan',
 'Mother India',
 'Ab Tak Chhappan',
 'Parinda',
 'Stanley Ka Dabba',
 '3 Deewarein',
 'Water',
 'Oye Lucky! Lucky Oye!',
 'Kai po che!',
 'Don',
 'Mr. India',
 'Guru',
 'Rock On!!',
 'Mumbai Meri Jaan',
 'Wake Up Sid',
 'Pyaar Ka Punchnama',
 'Madras Cafe',
 'Sarkar',
 'Raanjhanaa',
 'Agneepath',
 'Manorama: Six Feet Under',
 'Aamir',
 'Bheja Fry',
 'Earth',
 'Delhi Belly',
 'Shatranj Ke Khilari',
 'Ek Hasina Thi',
 'Rangeela',
 'Qayamat Se Qayamat Tak',
 'Jaane Tu... Ya Jaane Na',
 'Socha Na Tha',
 'Gunda']

In [13]:
rating2=[]
for i in soup2.find_all('div', class_="ipl-rating-star small"):
    rating2.append(i.text.replace('\n',''))
rating2

['8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8',
 '8',
 '8',
 '8',
 '8',
 '8',
 '8',
 '8',
 '8',
 '8',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.9',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.8',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.7',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.6',
 '7.5',
 '7.5',
 '7.5',
 '7.4',
 '7.4',
 '7.4',
 '7.4',
 '7.3']

In [14]:
release2=[]
for i in soup2.find_all('span', class_="lister-item-year text-muted unbold"):
    release2.append(i.text)
release2

['(1979)',
 '(2009)',
 '(1983)',
 '(2004)',
 '(2007)',
 '(1998)',
 '(2006)',
 '(1976)',
 '(1982)',
 '(1983)',
 '(1965)',
 '(1957)',
 '(1975)',
 '(2012)',
 '(2012)',
 '(2013)',
 '(1992)',
 '(2011)',
 '(2001)',
 '(2004)',
 '(2001)',
 '(2012)',
 '(2006)',
 '(1975)',
 '(2008)',
 '(2000)',
 '(2006)',
 '(2003)',
 '(2012)',
 '(2007)',
 '(2012)',
 '(2005)',
 '(2010)',
 '(1971)',
 '(1999)',
 '(1960)',
 '(1972)',
 '(2002)',
 '(2005)',
 '(1995)',
 '(2013)',
 '(1994)',
 '(2006)',
 '(2009)',
 '(2003)',
 '(2002)',
 '(1975)',
 '(1999)',
 '(1968)',
 '(2003)',
 '(2010)',
 '(2007)',
 '(2000)',
 '(1988)',
 '(2009)',
 '(2007)',
 '(2003)',
 '(2003)',
 '(1955)',
 '(2006)',
 '(1998)',
 '(2013)',
 '(2012)',
 '(2012)',
 '(2004)',
 '(1951)',
 '(2003)',
 '(2008)',
 '(1973)',
 '(1957)',
 '(2004)',
 '(1989)',
 '(2011)',
 '(2003)',
 '(I) (2005)',
 '(2008)',
 '(2013)',
 '(1978)',
 '(1987)',
 '(2007)',
 '(2008)',
 '(2008)',
 '(2009)',
 '(2011)',
 '(2013)',
 '(2005)',
 '(2013)',
 '(1990)',
 '(2007)',
 '(2008)',
 '(2007)',
 '(1999)',
 '(2011)',
 '(1977)',
 '(2004)',
 '(1995)',
 '(1988)',
 '(2008)',
 '(2005)',
 '(1998)']

In [15]:
print('*'*70)
print('\t\t\t IMDB’s Top rated 100 Indian Movies')
print('*'*70)
df_movies=pd.DataFrame({'Name of Movie':name2, 'Rating of Movie':rating2, 'Year of Release of Movie':release2})
df_movies

**********************************************************************
			 IMDB’s Top rated 100 Indian Movies
**********************************************************************

              Name of Movie Rating of Movie Year of Release of Movie
0                   Golmaal             8.5                   (1979)
1                  3 Idiots             8.4                   (2009)
2                    Masoom             8.4                   (1983)
3              Black Friday             8.4                   (2004)
4          Taare Zameen Par             8.3                   (2007)
..                      ...             ...                      ...
95                 Rangeela             7.4                   (1995)
96   Qayamat Se Qayamat Tak             7.4                   (1988)
97  Jaane Tu... Ya Jaane Na             7.4                   (2008)
98             Socha Na Tha             7.4                   (2005)
99                    Gunda             7.3                   (1998)

[100 rows x 3 columns]

# Q.4.Answer:  A python program to display list of respected former presidents of India

In [16]:
page3= requests.get('https://presidentofindia.nic.in/former-presidents.htm')
print(page3,'\n')

soup3= BeautifulSoup(page3.content)

<Response [200]>

In [17]:
President_name=[]
for i in soup3.find_all('div', class_="presidentListing"):
    cells = i.find_all('h3')
    President_name.append(cells[0].text.strip())
President_name

['Shri Pranab Mukherjee (1935-2020)',
 'Smt Pratibha Devisingh Patil (birth - 1934)',
 'DR. A.P.J. Abdul Kalam (1931-2015)',
 'Shri K. R. Narayanan (1920 - 2005)',
 'Dr Shankar Dayal Sharma (1918-1999)',
 'Shri R Venkataraman (1910-2009)',
 'Giani Zail Singh (1916-1994)',
 'Shri Neelam Sanjiva Reddy (1913-1996)',
 'Dr. Fakhruddin Ali Ahmed (1905-1977)',
 'Shri Varahagiri Venkata Giri (1894-1980)',
 'Dr. Zakir Husain (1897-1969)',
 'Dr. Sarvepalli Radhakrishnan (1888-1975)',
 'Dr. Rajendra Prasad (1884-1963)']

In [18]:
Term=[]
for i in soup3.find_all('div', class_="presidentListing"):
    cells = i.find_all('p')
    Term.append(cells[0].text.strip().replace('Term of Office:',''))
Term

[' 25 July, 2012 to 25 July, 2017',
 ' 25 July, 2007 to 25 July, 2012',
 ' 25 July, 2002 to 25 July, 2007',
 ' 25 July, 1997 to 25 July, 2002',
 ' 25 July, 1992 to 25 July, 1997',
 ' 25 July, 1987 to 25 July, 1992',
 ' 25 July, 1982 to 25 July, 1987',
 ' 25 July, 1977 to 25 July, 1982',
 ' 24 August, 1974 to 11 February, 1977',
 ' 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 ' 13 May, 1967 to 3 May, 1969',
 ' 13 May, 1962 to 13 May, 1967',
 ' 26 January, 1950 to 13 May, 1962']

In [19]:
df_president=pd.DataFrame({'Name of President':President_name,'Term of Office':Term})
df_president

,Name of President,Term of Office
0,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
1,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
2,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
3,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
4,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
5,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
6,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
7,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
8,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
9,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
10,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
11,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
12,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

# Q.5.Answer:  A python program to scrape cricket rankings

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating

In [20]:
page4= requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
print(page4,'\n')

soup4= BeautifulSoup(page4.content)

<Response [200]>

In [21]:
Team=[]
Matches=[]
Points=[]
Rating=[]
Ranking=[]
for i in soup4.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Ranking.append(cells[0].text.strip())
        Team.append(cells[1].text.strip().replace('\n'," , "))
        Matches.append(cells[2].text.strip())
        Points.append(cells[3].text.strip())
        Rating.append(cells[4].text.strip())
df_team = pd.DataFrame({' Ranking':Ranking,'Team':Team,'Matches':Matches,'Points':Points,'Rating':Rating})  
df_team

   Ranking               Team Matches Points Rating
0        1   New Zealand , NZ      12  1,505    125
1        2      England , ENG      22  2,756    125
2        3     Pakistan , PAK      19  2,005    106
3        4        India , IND      22  2,304    105
4        5    Australia , AUS      23  2,325    101
5        6  South Africa , SA      19  1,872     99
6        7   Bangladesh , BAN      24  2,275     95
7        8     Sri Lanka , SL      29  2,658     92
8        9   West Indies , WI      32  2,306     72
9       10  Afghanistan , AFG      18  1,238     69

b) Top 10 ODI Batsmen along with the records of their team and rating.

In [22]:
page4_b= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
print(page4,'\n')
soup4_b= BeautifulSoup(page4_b.content)

Player=[]
Team=[]
Rating=[]

for i in soup4_b.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Player.append(cells[1].text.strip().replace('\n'," , "))
        Team.append(cells[2].text.strip())
        Rating.append(cells[3].text.strip())
df_batting= pd.DataFrame({'Player':Player,'Team':Team,'Rating':Rating})  
df_batting

<Response [200]>

                  Player Team Rating
0             Babar Azam  PAK    892
1            Imam-ul-Haq  PAK    815
2            Virat Kohli  IND    811
3           Rohit Sharma  IND    791
4        Quinton de Kock   SA    789
5            Ross Taylor   NZ    775
6  Rassie van der Dussen   SA    769
7         Jonny Bairstow  ENG    760
8           David Warner  AUS    745
9            Aaron Finch  AUS    727

c) Top 10 ODI bowlers along with the records of their team and rating.

In [23]:
page4_c= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
print(page4,'\n')
soup4_c= BeautifulSoup(page4_c.content)

Player=[]
Team=[]
Rating=[]

for i in soup4_c.find_all ('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Player.append(cells[1].text.strip().replace('\n'," , "))
        Team.append(cells[2].text.strip())
        Rating.append(cells[3].text.strip())

df_bowling=pd.DataFrame({'Player':Player,'Team':Team,'Rating':Rating})
df_bowling

<Response [200]>

             Player Team Rating
0       Trent Boult   NZ    726
1      Chris Woakes  ENG    686
2        Matt Henry   NZ    683
3    Shaheen Afridi  PAK    681
4    Jasprit Bumrah  IND    679
5  Mujeeb Ur Rahman  AFG    676
6    Josh Hazlewood  AUS    667
7      Mehedi Hasan  BAN    661
8     Mohammad Nabi  AFG    657
9   Shakib Al Hasan  BAN    657

# Q.6.Answer:  A python program to display list of respected former president

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating

In [24]:
page5= requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
print(page5,'\n')

soup5= BeautifulSoup(page5.content)

<Response [200]>

In [25]:
Team=[]
Matches=[]
Points=[]
Rating=[]
Ranking=[]
for i in soup5.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Ranking.append(cells[0].text.strip())
        Team.append(cells[1].text.strip().replace('\n'," , "))
        Matches.append(cells[2].text.strip())
        Points.append(cells[3].text.strip())
        Rating.append(cells[4].text.strip())
df_team1 = pd.DataFrame({' Ranking':Ranking,'Team':Team,'Matches':Matches,'Points':Points,'Rating':Rating})  
df_team1

   Ranking               Team Matches Points Rating
0        1    Australia , AUS      29  4,837    167
1        2  South Africa , SA      32  3,949    123
2        3      England , ENG      30  3,531    118
3        4        India , IND      29  2,889    100
4        5   New Zealand , NZ      31  3,019     97
5        6   West Indies , WI      30  2,768     92
6        7   Bangladesh , BAN      12    930     78
7        8     Pakistan , PAK      30  1,962     65
8        9     Sri Lanka , SL       8    384     48
9       10      Ireland , IRE       8    351     44

b) Top 10 women’s ODI Batting players along with the records of their team and rating

In [26]:
page5_b= requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
print(page5_b,'\n')
soup5_b= BeautifulSoup(page5_b.content)

Player=[]
Team=[]
Rating=[]

for i in soup5_b.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Player.append(cells[1].text.strip().replace('\n'," , "))
        Team.append(cells[2].text.strip())
        Rating.append(cells[3].text.strip())
df_batting1= pd.DataFrame({'Player':Player,'Team':Team,'Rating':Rating})  
df_batting1

<Response [200]>

              Player Team Rating
0       Alyssa Healy  AUS    785
1     Natalie Sciver  ENG    750
2        Beth Mooney  AUS    748
3    Laura Wolvaardt   SA    713
4        Meg Lanning  AUS    710
5     Rachael Haynes  AUS    701
6  Amy Satterthwaite   NZ    681
7    Smriti Mandhana  IND    669
8     Tammy Beaumont  ENG    659
9       Ellyse Perry  AUS    642

c) Top 10 women’s ODI all-rounder along with the records of their team and rating

In [27]:
page5_c= requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
print(page5_c,'\n')
soup5_c= BeautifulSoup(page5_c.content)

Player=[]
Team=[]
Rating=[]

for i in soup5_c.find_all('tr')[:11]:
    cells = i.find_all('td')
    if len(cells) == 5:
        Player.append(cells[1].text.strip().replace('\n'," , "))
        Team.append(cells[2].text.strip())
        Rating.append(cells[3].text.strip())
df_All_Rounder= pd.DataFrame({'Player':Player,'Team':Team,'Rating':Rating})  
df_All_Rounder

<Response [200]>

             Player Team Rating
0    Natalie Sciver  ENG    393
1      Ellyse Perry  AUS    374
2   Hayley Matthews   WI    338
3    Marizanne Kapp   SA    338
4       Amelia Kerr   NZ    335
5  Ashleigh Gardner  AUS    269
6     Deepti Sharma  IND    249
7     Jess Jonassen  AUS    245
8         Sune Luus   SA    223
9   Katherine Brunt  ENG    221

# Q.7.Answer:  A python program to scrape mentioned news details

In [28]:
page7= requests.get('https://www.cnbc.com/world/?region=world')
print(page7,'\n')

soup7= BeautifulSoup(page7.content)

headline=[]
for i in soup7.find_all('a', class_="LatestNews-headline"):
    headline.append(i.get('title'))
print(headline,'\n')

time=[]
for i in soup7.find_all('span', class_="LatestNews-wrapper"):
    time.append(i.text)
print(time,'\n')

News_Link = []
for i in soup7.findAll('a',class_="LatestNews-headline"):
    News_Link.append(i.get('href'))
print(News_Link,'\n')

<Response [200]>

['Credit Suisse says FedEx and UPS are cheap buys for the long term', "G-7 leaders to set up a 'Climate Club' and work on decarbonizing power sector", "Jefferies sees 'attractive entry point' for Snowflake, upgrades shares", 'China cuts quarantine time for international travelers, easing Covid controls', "Electrode maker De Nora 'not scared' about volatility as it braves IPO", 'Lagarde plays down recession risks, says ECB ready to move faster on rates if needed', 'U.S. Treasury yields higher as investors await fresh batch of economic data', 'Credit Suisse vows to overhaul its risk management after a litany of scandals', 'NATO countries gather as Ukraine war overshadows Europe; death toll rises after Russian attack on shopping mall', 'Why one stock brokerage is bullish on Reliance Industries and Infosys', 'UK Covid cases are on the rise, but a return to restrictions looks unlikely', "Hydrogen-powered trains to be used in Germany's capital region", "As Klarna and Affirm falter, new 'buy now, pay later' startups steal spotlight", "G-7's infrastructure plan offers an alternative to China's BRI in a 'deliberate way'", "Total shutdown of Russian gas pipelines to Europe 'is not inconceivable'", 'European markets nudge higher as global risk sentiment remains volatile', "Fund manager says this stock is so cheap it makes 'no sense'", 'Investors could do ‘a lot worse’ than FedEx here, Jim Cramer says', 'This fund manager is beating the market — and he has 4 tips for investors', 'Asia-Pacific stocks gain as investors weigh economic concerns', "Cramer's lightning round: I like Belden over Encore Wire", "U.S. may lose silicon wafer factory if CHIPS Act isn't funded, Raimondo says", 'Mixed inflation data might be necessary for a soft landing, Jim Cramer says', 'Only 20% of U.S. workers in office three days or more: IBM CEO', 'Stock futures gain as market attempts to keep rebound from lows going', 'JetBlue ups offer for Spirit Airlines ahead of shareholder vote on Frontier bid', 'CVS capping purchases of Plan B pills to ensure consistent supply', 'Best trades on CNBC Monday: Pros say these stocks have stabilized', "Avoidable or inevitable recession? Billionaire David Rubenstein's view", 'Gay Connecticut justice zings Thomas on same-sex marriage ruling repeal idea']

['34 Min Ago', '35 Min Ago', '2 Hours Ago', '3 Hours Ago', '3 Hours Ago', '3 Hours Ago', '4 Hours Ago', '5 Hours Ago', '6 Hours Ago', '6 Hours Ago', '6 Hours Ago', '6 Hours Ago', '6 Hours Ago', '6 Hours Ago', '7 Hours Ago', '7 Hours Ago', '10 Hours Ago', '11 Hours Ago', '11 Hours Ago', '12 Hours Ago', '12 Hours Ago', '12 Hours Ago', '13 Hours Ago', '13 Hours Ago', '13 Hours Ago', '14 Hours Ago', '14 Hours Ago', '14 Hours Ago', '14 Hours Ago', '14 Hours Ago']

['https://www.cnbc.com/2022/06/28/credit-suisse-says-fedex-and-ups-are-cheap-buys-for-the-long-term.html', 'https://www.cnbc.com/2022/06/28/g-7-leaders-to-set-up-a-climate-club.html', 'https://www.cnbc.com/2022/06/28/jefferies-sees-attractive-entry-point-for-snowflake-upgrades-shares-and-predicts-35percent-upside.html', 'https://www.cnbc.com/2022/06/28/china-cuts-quarantine-for-overseas-travelers-easing-covid-controls.html', 'https://www.cnbc.com/2022/06/28/de-nora-ipo-priced-at-13point50-euros-per-share-2point8-billion-valuation.html', 'https://www.cnbc.com/2022/06/28/ecb-lagarde-plays-down-recession-risks-at-sintra-forum.html', 'https://www.cnbc.com/2022/06/28/us-bonds-investors-monitor-consumer-confidence-and-home-prices-data.html', 'https://www.cnbc.com/2022/06/28/credit-suisse-to-overhaul-its-risk-management-after-archegos-and-other-scandals.html', 'https://www.cnbc.com/2022/06/28/russia-ukraine-war-updates.html', 'https://www.cnbc.com/2022/06/28/why-one-stock-brokerage-is-bullish-on-reliance-industries-and-infosys.html', 'https://www.cnbc.com/2022/06/28/uk-unlikely-to-return-to-mandatory-covid-19-restrictions-as-cases-rise.html', 'https://www.cnbc.com/2022/06/28/hydrogen-powered-trains-to-be-used-in-berlin-brandenburg-region.html', 'https://www.cnbc.com/2022/06/28/forget-klarna-investors-bet-new-startups-will-in-buy-now-pay-later.html', 'https://www.cnbc.com/2022/06/28/new-g-7-infrastructure-plan-offers-alternative-to-china-belt-road-.html', 'https://www.cnbc.com/2022/06/28/g-7-nations-face-threat-of-russia-shutting-down-more-gas-.html', 'https://www.cnbc.com/2022/06/28/european-markets-open-to-close-earnings-data.html', 'https://www.cnbc.com/2022/06/28/fund-manager-says-this-stock-is-so-cheap-it-makes-no-sense.html', 'https://www.cnbc.com/2022/06/27/investors-could-do-a-lot-worse-than-fedex-here-jim-cramer-says.html', 'https://www.cnbc.com/2022/06/28/this-outperforming-fund-manager-has-4-tips-for-investors-right-now.html', 'https://www.cnbc.com/2022/06/28/asia-markets-stocks-earnings-currencies-oil.html', 'https://www.cnbc.com/2022/06/27/cramers-lightning-round-i-like-belden-over-encore-wire.html', 'https://www.cnbc.com/2022/06/27/raimondo-us-may-lose-silicon-wafer-factory-if-chips-act-isnt-funded.html', 'https://www.cnbc.com/2022/06/27/jim-cramer-mixed-inflation-data-might-be-necessary-for-a-soft-landing.html', 'https://www.cnbc.com/2022/06/27/only-20percent-of-us-workers-in-office-three-days-or-more-ibm-ceo.html', 'https://www.cnbc.com/2022/06/27/stock-market-futures-open-to-close-news.html', 'https://www.cnbc.com/2022/06/27/jetblue-ups-offer-for-spirit-airlines-ahead-of-shareholder-vote.html', 'https://www.cnbc.com/2022/06/27/cvs-capping-purchases-of-plan-b-pills-to-ensure-consistent-supply.html', 'https://www.cnbc.com/2022/06/27/best-trades-on-cnbc-monday-pros-say-these-stocks-have-stabilized.html', 'https://www.cnbc.com/2022/06/27/avoidable-or-inevitable-recession-billionaire-david-rubensteins-view.html', 'https://www.cnbc.com/2022/06/27/roe-v-wade-gay-connecticut-supreme-court-justice-calls-out-clarence-thomas.html']

In [29]:
News=pd.DataFrame({'Headline': headline, 'Time': time,'News Link': News_Link})
News

,Headline,Time,News Link
0,Credit Suisse says FedEx and UPS are cheap buy...,34 Min Ago,https://www.cnbc.com/2022/06/28/credit-suisse-...
1,G-7 leaders to set up a 'Climate Club' and wor...,35 Min Ago,https://www.cnbc.com/2022/06/28/g-7-leaders-to...
2,Jefferies sees 'attractive entry point' for Sn...,2 Hours Ago,https://www.cnbc.com/2022/06/28/jefferies-sees...
3,China cuts quarantine time for international t...,3 Hours Ago,https://www.cnbc.com/2022/06/28/china-cuts-qua...
4,Electrode maker De Nora 'not scared' about vol...,3 Hours Ago,https://www.cnbc.com/2022/06/28/de-nora-ipo-pr...
5,"Lagarde plays down recession risks, says ECB r...",3 Hours Ago,https://www.cnbc.com/2022/06/28/ecb-lagarde-pl...
6,U.S. Treasury yields higher as investors await...,4 Hours Ago,https://www.cnbc.com/2022/06/28/us-bonds-inves...
7,Credit Suisse vows to overhaul its risk manage...,5 Hours Ago,https://www.cnbc.com/2022/06/28/credit-suisse-...
8,NATO countries gather as Ukraine war overshado...,6 Hours Ago,https://www.cnbc.com/2022/06/28/russia-ukraine...
9,Why one stock brokerage is bullish on Reliance...,6 Hours Ago,https://www.cnbc.com/2022/06/28/why-one-stock-...
10,"UK Covid cases are on the rise, but a return t...",6 Hours Ago,https://www.cnbc.com/2022/06/28/uk-unlikely-to...
11,Hydrogen-powered trains to be used in Germany'...,6 Hours Ago,https://www.cnbc.com/2022/06/28/hydrogen-power...
12,"As Klarna and Affirm falter, new 'buy now, pay...",6 Hours Ago,https://www.cnbc.com/2022/06/28/forget-klarna-...
13,G-7's infrastructure plan offers an alternativ...,6 Hours Ago,https://www.cnbc.com/2022/06/28/new-g-7-infras...
14,Total shutdown of Russian gas pipelines to Eur...,7 Hours Ago,https://www.cnbc.com/2022/06/28/g-7-nations-fa...
15,European markets nudge higher as global risk s...,7 Hours Ago,https://www.cnbc.com/2022/06/28/european-marke...
16,Fund manager says this stock is so cheap it ma...,10 Hours Ago,https://www.cnbc.com/2022/06/28/fund-manager-s...
17,Investors could do ‘a lot worse’ than FedEx he...,11 Hours Ago,https://www.cnbc.com/2022/06/27/investors-coul...
18,This fund manager is beating the market — and ...,11 Hours Ago,https://www.cnbc.com/2022/06/28/this-outperfor...
19,Asia-Pacific stocks gain as investors weigh ec...,12 Hours Ago,https://www.cnbc.com/2022/06/28/asia-markets-s...
20,Cramer's lightning round: I like Belden over E...,12 Hours Ago,https://www.cnbc.com/2022/06/27/cramers-lightn...
21,U.S. may lose silicon wafer factory if CHIPS A...,12 Hours Ago,https://www.cnbc.com/2022/06/27/raimondo-us-ma...
22,Mixed inflation data might be necessary for a ...,13 Hours Ago,https://www.cnbc.com/2022/06/27/jim-cramer-mix...
23,Only 20% of U.S. workers in office three days ...,13 Hours Ago,https://www.cnbc.com/2022/06/27/only-20percent...
24,Stock futures gain as market attempts to keep ...,13 Hours Ago,https://www.cnbc.com/2022/06/27/stock-market-f...
25,JetBlue ups offer for Spirit Airlines ahead of...,14 Hours Ago,https://www.cnbc.com/2022/06/27/jetblue-ups-of...
26,CVS capping purchases of Plan B pills to ensur...,14 Hours Ago,https://www.cnbc.com/2022/06/27/cvs-capping-pu...
27,Best trades on CNBC Monday: Pros say these sto...,14 Hours Ago,https://www.cnbc.com/2022/06/27/best-trades-on...
28,Avoidable or inevitable recession? Billionaire...,14 Hours Ago,https://www.cnbc.com/2022/06/27/avoidable-or-i...
29,Gay Connecticut justice zings Thomas on same-s...,14 Hours Ago,https://www.cnbc.com/2022/06/27/roe-v-wade-gay...

# Q.8.Answer: A python program to scrape the details of most downloaded articles from AI in last 90 days.

In [30]:
page8= requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
soup8= BeautifulSoup(page8.content)

Paper_Title=[]
for i in soup8.find_all('h2', class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    Paper_Title.append(i.text)
print(Paper_Title,'\n')

Authors=[]
for i in soup8.find_all('span', class_="sc-1w3fpd7-0 pgLAT"):
    Authors.append(i.text)
print(Authors,'\n')    

Published_Date=[]
for i in soup8.find_all('span', class_="sc-1thf9ly-2 bKddwo"):
    Published_Date.append(i.text)
print(Published_Date,'\n')   

Paper_URL=[]
for i in soup8.find_all('a', class_="sc-5smygv-0 nrDZj"):
    Paper_URL.append(i.get('href'))
print(Paper_URL,'\n')

['Reward is enough', 'Making sense of raw input', 'Law and logic: A review from an argumentation perspective', 'Creativity and artificial intelligence', 'Artificial cognition for social human–robot interaction: An implementation', 'Explanation in artificial intelligence: Insights from the social sciences', 'Making sense of sensory input', 'Conflict-based search for optimal multi-agent pathfinding', 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning', 'The Hanabi challenge: A new frontier for AI research', 'Evaluating XAI: A comparison of rule-based and example-based explanations', 'Argumentation in artificial intelligence', 'Algorithms for computing strategies in two-player simultaneous move games', 'Multiple object tracking: A literature review', 'Selection of relevant features and examples in machine learning', 'A survey of inverse reinforcement learning: Challenges, methods and progress', 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values', 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models', 'Integrating social power into the decision-making of cognitive agents', "“That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems", 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies', 'Algorithm runtime prediction: Methods & evaluation', 'Wrappers for feature subset selection', 'Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics', 'Quantum computation, quantum theory and AI']

['Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S. ', 'Evans, Richard, Bošnjak, Matko and 5 more', 'Prakken, Henry, Sartor, Giovanni ', 'Boden, Margaret A. ', 'Lemaignan, Séverin, Warnier, Mathieu and 3 more', 'Miller, Tim ', 'Evans, Richard, Hernández-Orallo, José and 3 more', 'Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R. ', 'Sutton, Richard S., Precup, Doina, Singh, Satinder ', 'Bard, Nolan, Foerster, Jakob N. and 13 more', 'van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark ', 'Bench-Capon, T.J.M., Dunne, Paul E. ', 'Bošanský, Branislav, Lisý, Viliam and 3 more', 'Luo, Wenhan, Xing, Junliang and 4 more', 'Blum, Avrim L., Langley, Pat ', 'Arora, Saurabh, Doshi, Prashant ', 'Aas, Kjersti, Jullum, Martin, Løland, Anders ', 'Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes ', 'Pereira, Gonçalo, Prada, Rui, Santos, Pedro A. ', 'Riveiro, Maria, Thill, Serge ', 'Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T. ', 'Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin ', 'Kohavi, Ron, John, George H. ', 'Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna ', 'Ying, Mingsheng ']

['October 2021', 'October 2021', 'October 2015', 'August 1998', 'June 2017', 'February 2019', 'April 2021', 'February 2015', 'August 1999', 'March 2020', 'February 2021', 'October 2007', 'August 2016', 'April 2021', 'December 1997', 'August 2021', 'September 2021', 'June 2021', 'December 2016', 'September 2021', 'May 2021', 'January 2014', 'December 1997', 'October 2021', 'February 2010']

['https://www.sciencedirect.com/science/article/pii/S0004370221000862', 'https://www.sciencedirect.com/science/article/pii/S0004370221000722', 'https://www.sciencedirect.com/science/article/pii/S0004370215000910', 'https://www.sciencedirect.com/science/article/pii/S0004370298000551', 'https://www.sciencedirect.com/science/article/pii/S0004370216300790', 'https://www.sciencedirect.com/science/article/pii/S0004370218305988', 'https://www.sciencedirect.com/science/article/pii/S0004370220301855', 'https://www.sciencedirect.com/science/article/pii/S0004370214001386', 'https://www.sciencedirect.com/science/article/pii/S0004370299000521', 'https://www.sciencedirect.com/science/article/pii/S0004370219300116', 'https://www.sciencedirect.com/science/article/pii/S0004370220301533', 'https://www.sciencedirect.com/science/article/pii/S0004370207000793', 'https://www.sciencedirect.com/science/article/pii/S0004370216300285', 'https://www.sciencedirect.com/science/article/pii/S0004370220301958', 'https://www.sciencedirect.com/science/article/pii/S0004370297000635', 'https://www.sciencedirect.com/science/article/pii/S0004370221000515', 'https://www.sciencedirect.com/science/article/pii/S0004370221000539', 'https://www.sciencedirect.com/science/article/pii/S0004370221000096', 'https://www.sciencedirect.com/science/article/pii/S0004370216300868', 'https://www.sciencedirect.com/science/article/pii/S0004370221000588', 'https://www.sciencedirect.com/science/article/pii/S0004370221000102', 'https://www.sciencedirect.com/science/article/pii/S0004370213001082', 'https://www.sciencedirect.com/science/article/pii/S000437029700043X', 'https://www.sciencedirect.com/science/article/pii/S0004370221000734', 'https://www.sciencedirect.com/science/article/pii/S0004370209001398']

In [31]:
Articles=pd.DataFrame({'Paper Title': Paper_Title,'Authors': Authors,'Published Date': Published_Date, 'Paper URL':Paper_URL})
Articles

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# Q.9.Answer:  A python program to scrape  details from dineout.co.in

In [32]:
page9= requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
soup9= BeautifulSoup(page9.content)

restaurant_name= []
for i in soup9.find_all('a', class_="restnt-name ellipsis"):
    restaurant_name.append(i.text)
print(restaurant_name,'\n')

Cuisine=[]
for i in soup9.find_all('div', class_="detail-info"):
    Cuisine.append((i.text.split()[6])+(' ')+(i.text.split()[7]))
print(Cuisine,'\n')


location=[]
for i in soup9.find_all('div', class_="restnt-loc ellipsis"):
    location.append(i.text)
print (location,'\n')

Ratings= []
for i in soup9.find_all('div', class_="restnt-rating rating-4"):
    Ratings.append(i.text)
print(Ratings,'\n')

Image_URL= []
for i in soup9.find_all('img', class_="no-img"):
    Image_URL.append(i['data-src'])
print(Image_URL,'\n')

dineout=pd.DataFrame({'Restaurant_Name':restaurant_name,'Cuisine':Cuisine,'Location':location,'Ratings':Ratings,'Image_URL':Image_URL})
dineout

['Castle Barbeque', 'Jungle Jamboree', 'Castle Barbeque', 'Cafe Knosh', 'The Barbeque Company', 'India Grill', 'Delhi Barbeque', 'The Monarch - Bar Be Que Village', 'World Cafe', 'Indian Grill Room', 'Mad 4 Bar B Que', 'Barbeque 29', 'Glasshouse']

['North Indian,', 'North Indian,', 'Chinese, North', 'Italian, Continental3', 'North Indian,', 'North Indian,', 'North Indian', 'North Indian', 'North Indian,', 'North Indian,', 'North Indian', 'North Indian,', 'European, Italian,']

['Connaught Place, Central Delhi', '3CS Mall,Lajpat Nagar - 3, South Delhi', 'Pacific Mall,Tagore Garden, West Delhi', 'The Leela Ambience Convention Hotel,Shahdara, East Delhi', 'Gardens Galleria,Sector 38A, Noida', 'Hilton Garden Inn,Saket, South Delhi', 'Taurus Sarovar Portico,Mahipalpur, South Delhi', 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad', 'Vibe by The Lalit Traveller,Sector 35, Faridabad', 'Suncity Business Tower,Golf Course Road, Gurgaon', 'Sector 29, Faridabad', 'NIT, Faridabad', 'DoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

['3.5', '3.9', '3.9', '4.3', '4', '3.9', '3.7', '3.8', '4.3', '4.3', '3.6', '4.2', '4']

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/h/c/p3643-144497865356209fdd65746.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/v/f/p52501-16006856545f68865616659.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/p/y/p12366-1466935020576fa6ecdc359.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/n/t/p43488-1647323111623027e763947.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/w/r/p58842-15624171585d209806d9143.jpg?tr=tr:n-medium', 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/m/a/p9875-1645177960620f6c68ecfef.jpg?tr=tr:n-medium']

,Restaurant_Name,Cuisine,Location,Ratings,Image_URL
0,Castle Barbeque,"North Indian,","Connaught Place, Central Delhi",3.5,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian,","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"Chinese, North","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"Italian, Continental3","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian,","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian,","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,World Cafe,"North Indian,","Vibe by The Lalit Traveller,Sector 35, Faridabad",4.3,https://im1.dineout.co.in/images/uploads/resta...
9,Indian Grill Room,"North Indian,","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,Mad 4 Bar B Que,North Indian,"Sector 29, Faridabad",3.6,https://im1.dineout.co.in/images/uploads/resta...
11,Barbeque 29,"North Indian,","NIT, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,Glasshouse,"European, Italian,","DoubleTree By Hilton Gurugram Baani Square,Sec...",4,https://im1.dineout.co.in/images/uploads/resta...

# Q.10.Answer:  A python program to scrape the details of top publications from Google Scholar

In [33]:
page10= requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')
soup10= BeautifulSoup(page10.content)

Rank=[]
for i in soup10.find_all('td', class_="gsc_mvt_p"):
    Rank.append(i.text)
print (Rank,'\n')

publication=[]
for i in soup10.find_all('td', class_="gsc_mvt_t"):
    publication.append(i.text)
print (publication,'\n')

h5_index=[]
for i in soup10.find_all('a', class_="gs_ibl gsc_mp_anchor"):
    h5_index.append(i.text)
print (h5_index,'\n')

h5_media=[] 
for i in soup10.find_all('span', class_="gs_ibl gsc_mp_anchor"):
    h5_media.append(i.text)
print (h5_media,'\n')

publications=pd.DataFrame({'Rank':Rank,'Publication':publication,'h5_index':h5_index, 'h5_media':h5_media})
publications

['1.', '2.', '3.', '4.', '5.', '6.', '7.', '8.', '9.', '10.', '11.', '12.', '13.', '14.', '15.', '16.', '17.', '18.', '19.', '20.', '21.', '22.', '23.', '24.', '25.', '26.', '27.', '28.', '29.', '30.', '31.', '32.', '33.', '34.', '35.', '36.', '37.', '38.', '39.', '40.', '41.', '42.', '43.', '44.', '45.', '46.', '47.', '48.', '49.', '50.', '51.', '52.', '53.', '54.', '55.', '56.', '57.', '58.', '59.', '60.', '61.', '62.', '63.', '64.', '65.', '66.', '67.', '68.', '69.', '70.', '71.', '72.', '73.', '74.', '75.', '76.', '77.', '78.', '79.', '80.', '81.', '82.', '83.', '84.', '85.', '86.', '87.', '88.', '89.', '90.', '91.', '92.', '93.', '94.', '95.', '96.', '97.', '98.', '99.', '100.']

['Nature', 'The New England Journal of Medicine', 'Science', 'IEEE/CVF Conference on Computer Vision and Pattern Recognition', 'The Lancet', 'Advanced Materials', 'Cell', 'Nature Communications', 'Chemical Reviews', 'International Conference on Learning Representations', 'JAMA', 'Neural Information Processing Systems', 'Proceedings of the National Academy of Sciences', 'Journal of the American Chemical Society', 'Angewandte Chemie', 'Chemical Society Reviews', 'Nucleic Acids Research', 'Renewable and Sustainable Energy Reviews', 'Journal of Clinical Oncology', 'Physical Review Letters', 'Advanced Energy Materials', 'Nature Medicine', 'International Conference on Machine Learning', 'Energy & Environmental Science', 'ACS Nano', 'Scientific Reports', 'European Conference on Computer Vision', 'The Lancet Oncology', 'Advanced Functional Materials', 'PLoS ONE', 'IEEE/CVF International Conference on Computer Vision', 'Nature Genetics', 'Journal of Cleaner Production', 'Nature Materials', 'Science of The Total Environment', 'Circulation', 'BMJ', 'Journal of the American College of Cardiology', 'Applied Catalysis B: Environmental', 'Science Advances', 'Nano Letters', 'Nature Energy', 'ACS Applied Materials & Interfaces', 'Journal of Materials Chemistry A', 'IEEE Access', 'Nature Biotechnology', 'Nano Energy', 'Nature Methods', 'Nature Nanotechnology', 'Cochrane Database of Systematic Reviews', 'The Astrophysical Journal', 'The Lancet Infectious Diseases', 'Applied Energy', 'European Heart Journal', 'Blood', 'American Economic Review', 'Immunity', 'Meeting of the Association for Computational Linguistics (ACL)', 'AAAI Conference on Artificial Intelligence', 'Gastroenterology', 'Neuron', 'Journal of High Energy Physics', 'IEEE Communications Surveys & Tutorials', 'Nature Neuroscience', 'Computers in Human Behavior', 'Chemical engineering journal', 'ACS Catalysis', 'Nature Reviews. Molecular Cell Biology', 'International Journal of Molecular Sciences', 'IEEE Transactions on Pattern Analysis and Machine Intelligence', 'Environmental Science & Technology', 'Monthly Notices of the Royal Astronomical Society', 'Cell Metabolism', 'Nature Physics', 'Physical Review D', 'Accounts of Chemical Research', 'Nature Photonics', 'Nature Climate Change', 'Chemistry of Materials', 'Molecular Cell', 'Clinical Infectious Diseases', 'Morbidity and Mortality Weekly Report', 'Nature Reviews Immunology', 'Gut', 'Annals of Oncology', 'Cell Reports', 'Journal of Business Research', 'Clinical Cancer Research', 'Frontiers in Microbiology', 'Journal of Hepatology', 'eLife', 'Bioinformatics', 'The Journal of Clinical Investigation', 'Science Translational Medicine', 'Water Research', 'Frontiers in Immunology', 'Small', 'Nature Immunology', 'JAMA Oncology', 'The Lancet Neurology']

['414', '410', '391', '356', '345', '294', '288', '287', '270', '253', '253', '245', '245', '245', '235', '234', '233', '225', '213', '209', '206', '205', '204', '202', '202', '200', '197', '196', '189', '185', '184', '184', '182', '181', '180', '176', '175', '175', '175', '174', '173', '171', '169', '166', '164', '163', '162', '161', '161', '161', '161', '160', '160', '159', '159', '158', '158', '157', '157', '157', '157', '157', '156', '156', '155', '154', '153', '150', '150', '149', '149', '149', '148', '147', '147', '146', '144', '144', '144', '143', '142', '141', '141', '141', '141', '141', '140', '140', '139', '138', '137', '136', '135', '134', '134', '134', '134', '133', '133', '133']

['607', '704', '564', '583', '600', '406', '459', '389', '434', '470', '446', '422', '337', '330', '314', '339', '512', '294', '297', '297', '267', '356', '370', '306', '265', '262', '342', '318', '250', '246', '311', '273', '245', '313', '244', '284', '286', '255', '218', '250', '234', '306', '202', '205', '233', '276', '218', '265', '257', '244', '239', '244', '203', '252', '212', '246', '237', '265', '240', '229', '219', '217', '253', '235', '235', '193', '219', '284', '210', '275', '202', '190', '219', '210', '205', '222', '230', '222', '187', '198', '251', '274', '257', '211', '205', '183', '199', '187', '196', '226', '182', '218', '197', '192', '188', '177', '173', '210', '202', '200']

    Rank                                        Publication h5_index h5_media
0     1.                                             Nature      414      607
1     2.                The New England Journal of Medicine      410      704
2     3.                                            Science      391      564
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      356      583
4     5.                                         The Lancet      345      600
..   ...                                                ...      ...      ...
95   96.                            Frontiers in Immunology      134      177
96   97.                                              Small      134      173
97   98.                                  Nature Immunology      133      210
98   99.                                      JAMA Oncology      133      202
99  100.                               The Lancet Neurology      133      200

[100 rows x 4 columns]