# FLIGHT PRICE PREDICTION Scrapping
### Problem Statement:
#### 1. Data Collection:

You have to scrape at least 1500 rows of data. You can scrape more data as well, it’s up to you, More the data better the model. In this section you have to scrape the data of flights from different websites (yatra.com, skyscanner.com, official websites of airlines, etc). 

The number of columns for data doesn’t have limit. Generally, these columns are:

1. __Features:__
- airline name, 
- date of journey, 
- source, 
- destination, 
- departure time, 
- arrival time, 
- duration, 
- total stops and 

2. __Target variable:__ 
- price.

## Importing Libraries

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import NoSuchElementException
import time

import warnings
warnings.filterwarnings('ignore')

## 1. Scraping data from "yatra.com" Website

In [2]:
driver1=webdriver.Chrome('chromedriver.exe')
url1=("https://www.yatra.com/")
driver1.get(url1)
driver1.maximize_window()
time.sleep(2)

In [3]:
# scroll down to get access to data for scraping
i=0
while(i<10):
    driver1.execute_script("window.scrollBy(0,100)") 
    i+=1

In [4]:
#fetching Url
url=[]
url_tag = driver1.find_elements(By.XPATH,"//a[@class='VueCarousel-slide items']")
for u in url_tag:
        url.append(u.get_attribute("href"))
    
print(len(url))

20

### Departure from Delhi

In [6]:
Depart_DEL= driver1.find_element(By.XPATH,"/html/body/div[2]/div/section/div[2]/div[1]/ul/li[1]").click()

In [7]:
#fetching Url
for u in url_tag:
    url.append(u.get_attribute("href"))
    
print(len(url))

40

### Departure from Mumbai

In [8]:
Depart_BOM= driver1.find_element(By.XPATH,"/html/body/div[2]/div/section/div[2]/div[1]/ul/li[2]").click()

In [9]:
#fetching Url
for u in url_tag:
    url.append(u.get_attribute("href"))
    
print(len(url))

60

### Departure from Bangalore

In [10]:
Depart_BLR= driver1.find_element(By.XPATH,"/html/body/div[2]/div/section/div[2]/div[1]/ul/li[3]").click()

In [11]:
#fetching Url
for u in url_tag:
    url.append(u.get_attribute("href"))
    
print(len(url))

80

### Departure from Hyderabad

In [12]:
Depart_HYD= driver1.find_element(By.XPATH,"/html/body/div[2]/div/section/div[2]/div[1]/ul/li[4]").click()

In [13]:
#fetching Url
for u in url_tag:
    url.append(u.get_attribute("href"))
    
print(len(url))

100

### Departure from Kolkata

In [14]:
Depart_CCU= driver1.find_element(By.XPATH,"/html/body/div[2]/div/section/div[2]/div[1]/ul/li[5]").click()

In [15]:
#fetching Url
for u in url_tag:
    url.append(u.get_attribute("href"))
    
print(len(url))

120

### Departure from Others as Source

In [16]:
Depart_OTR= driver1.find_element(By.XPATH,"/html/body/div[2]/div/section/div[2]/div[1]/ul/li[6]").click()

In [17]:
#fetching Url
for u in url_tag:
    url.append(u.get_attribute("href"))
    break
print(len(url))

121

In [18]:
Airline_Name= []
Journey_Date= []
Source= []
Destination= []
Departure_Time= []
Arrival_Time= []
Duration= []
Total_Stops= []
Price= []
links=[]

In [19]:
#fetching all details from fetched urls
for l in url:
    driver1.get(l)
    time.sleep(4)
                
    #fetching all Airline_Name
    try:
        Airline=driver1.find_elements(By.XPATH,"//span[@class='i-b text ellipsis']")
        for i in Airline:
            Airline_Name.append(i.text)
    except NoSuchElementException:
        Airline_Name.append('-')
        
      #fetching all Source
    try:
        Source_tag=driver1.find_elements(By.XPATH,"//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
        for i in Source_tag:
            Source.append(i.text)
    except NoSuchElementException:
        Source.append('-')
        
    #fetching all Destination
    try:
        Destination_tag=driver1.find_elements(By.XPATH,"//div[@class='i-b pdd-0 text-left atime col-5']/p[2]")
        for i in Destination_tag:
            Destination.append(i.text)
    except NoSuchElementException:
        Destination.append('-')
        
    #fetching all Departure_Time
    try:
        Departure=driver1.find_elements(By.XPATH,"//div[@class='i-b pr']")
        for i in Departure:
            Departure_Time.append(i.text)
    except NoSuchElementException:
        Departure_Time.append('-')

    #fetching all Arrival_Time
    try:
        Arrival_tag=driver1.find_elements(By.XPATH,"//p[@class='bold fs-15 mb-2 pr time']")
        for i in Arrival_tag:
            Arrival_Time.append(i.text)
    except NoSuchElementException:
        Arrival_Time.append('-')

    #fetching all Duration
    try:
        Duration_tag=driver1.find_elements(By.XPATH,"//div[@class='stop-cont pl-13']/p")
        for i in Duration_tag:
            Duration.append(i.text)
    except NoSuchElementException:
        Duration.append('-')

    #fetching all Total_Stops
    try:
        Stops_tag=driver1.find_elements(By.XPATH,"//div[@class='stop-cont pl-13']/div/span")
        for i in Stops_tag:
            Total_Stops.append(i.text)
    except NoSuchElementException:
        Total_Stops.append('-')

    #fetching all Price
    try:
        Price_tag=driver1.find_elements(By.XPATH,"//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
        for i in Price_tag:
            Price.append(i.text)
    except NoSuchElementException:
        Price.append('-')

In [21]:
print(len(Airline_Name),len(Source),len(Destination),len(Departure_Time),len(Arrival_Time),len(Duration),len(Total_Stops),len(Price))

803 803 803 803 803 803 803 803

In [62]:
#fetching all details from fetched urls
for l in url:
    driver1.get(l)
    time.sleep(4)
    
    try:
        date = driver1.find_element(By.XPATH,"//span[@class ='lowestDate']")
        for i in range(0,10):
            # Appends the flight date element of the current url web page for 10 times to Date_of_Journey list and repeats for every url
            Journey_Date.append(date.text) 
    except:
        Journey_Date.append('-')

In [63]:
len(Journey_Date)

1183

In [65]:
yatra=pd.DataFrame({'Airline_Name':Airline_Name,'Date_of Journey':Journey_Date[:803], 'Source':Source,'Destination':Destination,'Departure_Time':Departure_Time,'Arrival_Time': Arrival_Time,'Duration': Duration,'Total_Stops':Total_Stops,'Price':Price})

In [66]:
yatra

,Airline_Name,Date_of Journey,Source,Destination,Departure_Time,Arrival_Time,Duration,Total_Stops,Price
0,SpiceJet,"Tue, Dec 13",New Delhi,Mumbai,18:55,21:05,2h 10m,Non Stop,"5,951"
1,SpiceJet,"Tue, Dec 13",New Delhi,Mumbai,19:45,22:05,2h 20m,Non Stop,"5,951"
2,Go First,"Tue, Dec 13",New Delhi,Mumbai,07:00,09:10,2h 10m,Non Stop,"5,953"
3,Go First,"Tue, Dec 13",New Delhi,Mumbai,08:00,10:10,2h 10m,Non Stop,"5,953"
4,Go First,"Tue, Dec 13",New Delhi,Mumbai,15:00,17:15,2h 15m,Non Stop,"5,953"
...,...,...,...,...,...,...,...,...,...
798,IndiGo,"Sat, Oct 15",Pune,New Delhi,15:45,23:15,7h 30m,1 Stop,"6,258"
799,IndiGo,"Sat, Oct 15",Pune,New Delhi,00:05,09:15,9h 10m,1 Stop,"6,258"
800,IndiGo,"Sat, Oct 15",Pune,New Delhi,03:10,13:00,9h 50m,1 Stop,"6,258"
801,IndiGo,"Sat, Oct 15",Pune,New Delhi,13:55,22:20,8h 25m,1 Stop,"6,746"
802,IndiGo,"Thu, Nov 17",Pune,New Delhi,20:50,23:00,2h 10m,Non Stop,"6,888"

### Extracting Return Flights Data

In [77]:
for l in url:
    driver1.get(l)
    time.sleep(4)
    
    #fetching all url elements of return flights and appends them to the empty list
    links_tag= driver1.find_elements(By.XPATH,"/html/body/div[3]/div[2]/div[3]/div[1]/div[1]/article/div[2]/strong[4]/a")
    for u in links_tag:
        try: 
             links.append(u.get_attribute("href")) 
        except:
             links.append('-')

In [78]:
len(links)

61

In [79]:
Airline_Name0= []
Journey_Date0= []
Source0= []
Destination0= []
Departure_Time0= []
Arrival_Time0= []
Duration0= []
Total_Stops0= []
Price0= []

#fetching all details from fetched urls
for l in links:
    driver1.get(l)
    time.sleep(4)
                
    #fetching all Airline_Name
    try:
        Airline=driver1.find_elements(By.XPATH,"//span[@class='i-b text ellipsis']")
        for i in Airline:
            Airline_Name0.append(i.text)
    except NoSuchElementException:
        Airline_Name0.append('-')
        
      #fetching all Source
    try:
        Source_tag=driver1.find_elements(By.XPATH,"//div[@class='i-b col-4 no-wrap text-right dtime col-3']/p")
        for i in Source_tag:
            Source0.append(i.text)
    except NoSuchElementException:
        Source0.append('-')
        
    #fetching all Destination
    try:
        Destination_tag=driver1.find_elements(By.XPATH,"//div[@class='i-b pdd-0 text-left atime col-5']/p[2]")
        for i in Destination_tag:
            Destination0.append(i.text)
    except NoSuchElementException:
        Destination0.append('-')
        
    #fetching all Departure_Time
    try:
        Departure=driver1.find_elements(By.XPATH,"//div[@class='i-b pr']")
        for i in Departure:
            Departure_Time0.append(i.text)
    except NoSuchElementException:
        Departure_Time0.append('-')

    #fetching all Arrival_Time
    try:
        Arrival_tag=driver1.find_elements(By.XPATH,"//p[@class='bold fs-15 mb-2 pr time']")
        for i in Arrival_tag:
            Arrival_Time0.append(i.text)
    except NoSuchElementException:
        Arrival_Time0.append('-')

    #fetching all Duration
    try:
        Duration_tag=driver1.find_elements(By.XPATH,"//div[@class='stop-cont pl-13']/p")
        for i in Duration_tag:
            Duration0.append(i.text)
    except NoSuchElementException:
        Duration0.append('-')

    #fetching all Total_Stops
    try:
        Stops_tag=driver1.find_elements(By.XPATH,"//div[@class='stop-cont pl-13']/div/span")
        for i in Stops_tag:
            Total_Stops0.append(i.text)
    except NoSuchElementException:
        Total_Stops0.append('-')

    #fetching all Price
    try:
        Price_tag=driver1.find_elements(By.XPATH,"//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
        for i in Price_tag:
            Price0.append(i.text)
    except NoSuchElementException:
        Price0.append('-')

In [80]:
#fetching all details from fetched urls
for l in links:
    driver1.get(l)
    time.sleep(4)
    
    try:
        date = driver1.find_element(By.XPATH,"//span[@class ='lowestDate']")
        for i in range(0,10):
            # Appends the flight date element of the current url web page for 10 times to Date_of_Journey list and repeats for every url
            Journey_Date0.append(date.text) 
    except:
        Journey_Date0.append('-')

In [83]:
print(len(Airline_Name0),len(Journey_Date0),len(Source0),len(Destination0),len(Departure_Time0),len(Arrival_Time0),len(Duration0),len(Total_Stops0),len(Price0))

799 601 799 799 799 799 799 799 799

In [84]:
yatra_return=pd.DataFrame({'Airline_Name':Airline_Name[:600],'Date_of Journey':Journey_Date[:600], 'Source':Source[:600],'Destination':Destination[:600],'Departure_Time':Departure_Time[:600],'Arrival_Time': Arrival_Time[:600],'Duration': Duration[:600],'Total_Stops':Total_Stops[:600],'Price':Price[:600]})
yatra_return

,Airline_Name,Date_of Journey,Source,Destination,Departure_Time,Arrival_Time,Duration,Total_Stops,Price
0,SpiceJet,"Tue, Dec 13",New Delhi,Mumbai,18:55,21:05,2h 10m,Non Stop,"5,951"
1,SpiceJet,"Tue, Dec 13",New Delhi,Mumbai,19:45,22:05,2h 20m,Non Stop,"5,951"
2,Go First,"Tue, Dec 13",New Delhi,Mumbai,07:00,09:10,2h 10m,Non Stop,"5,953"
3,Go First,"Tue, Dec 13",New Delhi,Mumbai,08:00,10:10,2h 10m,Non Stop,"5,953"
4,Go First,"Tue, Dec 13",New Delhi,Mumbai,15:00,17:15,2h 15m,Non Stop,"5,953"
...,...,...,...,...,...,...,...,...,...
595,IndiGo,"Tue, Nov 15",Hyderabad,New Delhi,05:10,07:15,2h 05m,Non Stop,"6,367"
596,IndiGo,"Tue, Nov 15",Hyderabad,New Delhi,21:20,23:30,2h 10m,Non Stop,"6,367"
597,IndiGo,"Tue, Nov 15",Hyderabad,New Delhi,22:35,00:45\n+ 1 day,2h 10m,Non Stop,"6,367"
598,IndiGo,"Tue, Nov 15",Hyderabad,New Delhi,01:20,03:35,2h 15m,Non Stop,"6,367"
599,IndiGo,"Tue, Nov 15",Hyderabad,New Delhi,20:05,22:20,2h 15m,Non Stop,"6,367"

In [85]:
yatra_data=pd.concat([yatra,yatra_return],ignore_index=True)
yatra_data

,Airline_Name,Date_of Journey,Source,Destination,Departure_Time,Arrival_Time,Duration,Total_Stops,Price
0,SpiceJet,"Tue, Dec 13",New Delhi,Mumbai,18:55,21:05,2h 10m,Non Stop,"5,951"
1,SpiceJet,"Tue, Dec 13",New Delhi,Mumbai,19:45,22:05,2h 20m,Non Stop,"5,951"
2,Go First,"Tue, Dec 13",New Delhi,Mumbai,07:00,09:10,2h 10m,Non Stop,"5,953"
3,Go First,"Tue, Dec 13",New Delhi,Mumbai,08:00,10:10,2h 10m,Non Stop,"5,953"
4,Go First,"Tue, Dec 13",New Delhi,Mumbai,15:00,17:15,2h 15m,Non Stop,"5,953"
...,...,...,...,...,...,...,...,...,...
1398,IndiGo,"Tue, Nov 15",Hyderabad,New Delhi,05:10,07:15,2h 05m,Non Stop,"6,367"
1399,IndiGo,"Tue, Nov 15",Hyderabad,New Delhi,21:20,23:30,2h 10m,Non Stop,"6,367"
1400,IndiGo,"Tue, Nov 15",Hyderabad,New Delhi,22:35,00:45\n+ 1 day,2h 10m,Non Stop,"6,367"
1401,IndiGo,"Tue, Nov 15",Hyderabad,New Delhi,01:20,03:35,2h 15m,Non Stop,"6,367"
1402,IndiGo,"Tue, Nov 15",Hyderabad,New Delhi,20:05,22:20,2h 15m,Non Stop,"6,367"

In [86]:
yatra_data.to_csv('yatra_data', index=True)

In [87]:
driver1.close()

## makemytrip.com

In [2]:
driver2 = webdriver.Chrome('chromedriver.exe')
url1=("https://www.makemytrip.com/")
driver2.get(url1)
driver2.maximize_window()
time.sleep(2)

#### Fetching data of flight from New Delhi to Bengaluru

In [3]:
ORIGIN = "DEL"
DESTINATION = "BLR"
start_date = "28/09/2022"
URL = "https://www.makemytrip.com/flight/search?tripType=O&itinerary=" + ORIGIN + "-" + DESTINATION + "-" + start_date + "&paxType=A-1_C-0_I-0&cabinClass=E&sTime=1653908247075&forwardFlowRequired=true&mpo=&semType=&intl=false"
data_list = []
rows = []

driver2.get(URL)
time.sleep(5)

In [4]:
i=0
while(i<2000):
    driver2.execute_script("window.scrollBy(0,10000)") # scroll down to get access to data for scraping
    i+=1

In [70]:
Airlines= []
Src= []
Dest= []
Depart_Time= []
Arriv_Time= []
Dur= []
T_Stops= []
Prices= []

#fetching all Airlines Name
try:
    Airlines_tag = driver2.find_elements(By.XPATH, "//div[@class='makeFlex align-items-center gap-x-10 airline-info-wrapper']/div/p[1]")
    for i in Airlines_tag:
        Airlines.append(i.text)
except:
    Airlines.append('-')
    
#fetching all source
try:
    Src_tag = driver2.find_elements(By.XPATH, "//div[@class='flexOne timeInfoLeft']/p[2]/font")
    for i in Src_tag:
        Src.append(i.text)
except:
    Src.append('-')
    
#fetching all Destination
try:
    Dest_tag = driver2.find_elements(By.XPATH, "//div[@class='flexOne timeInfoRight']/p[2]/font")
    for i in Dest_tag:
        Dest.append(i.text)
except:
    Dest.append('-')
    
#fetching all Departure Time
try:
    Depart_tag = driver2.find_elements(By.XPATH, "//div[@class='flexOne timeInfoLeft']/p[1]/span")
    for i in Depart_tag:
        Depart_Time.append(i.text)
except:
    Depart_Time.append('-')
    
#fetching all Arrival Time    
try:
    Arriv_tag = driver2.find_elements(By.XPATH, "//div[@class='flexOne timeInfoRight']/p[1]/span[1]")
    for i in Arriv_tag:
        Arriv_Time.append(i.text)
except:
    Arriv_Time.append('-')
    
#fetching total Duration
try:
    Dur_tag = driver2.find_elements(By.XPATH, "//div[@class='stop-info flexOne']/p")
    for i in Dur_tag:
        Dur.append(i.text)
except:
    Dur.append('-')
    
#fetching Total Stops
try:
    T_Stops_tag = driver2.find_elements(By.XPATH, "//div[@class='stop-info flexOne']/div/p")
    for i in T_Stops_tag:
        T_Stops.append(i.text)
except:
    T_Stops.append('-')

#fetching all Price
try:
    Prices_tag = driver2.find_elements(By.XPATH, "//div[@class='textRight flexOne']/p")
    for i in Prices_tag:
        Prices.append(i.text)
except:
    Prices.append('-')

In [6]:
Deptt_Date= []
#fetching all Departure Date
try:
    Dept_Date_tag = driver2.find_elements(By.XPATH, "//div[@class='weeklyFareItems activeDate glider-slide visible right-2']/a/p[1]")
    for j in range(0,43):
        for i in Dept_Date_tag:
            Deptt_Date.append(i.text)
            
except:
    Dept_Date.append('-')

In [7]:
print(len(Airlines), len(Deptt_Date), len(Src), len(Dest), len(Depart_Time), len(Arriv_Time), len(Dur), len(T_Stops), len(Prices))

43 43 43 43 43 43 43 43 43

In [8]:
make_my_trip=pd.DataFrame({'Airline_Name':Airlines,'Date_of Journey':Deptt_Date, 'Source':Src,'Destination':Dest,'Departure_Time':Depart_Time,'Arrival_Time': Arriv_Time,'Duration': Dur,'Total_Stops':T_Stops,'Price':Prices})
make_my_trip

,Airline_Name,Date_of Journey,Source,Destination,Departure_Time,Arrival_Time,Duration,Total_Stops,Price
0,SpiceJet,"Wed, Sep 28",New Delhi,Bengaluru,06:05,08:55,02 h 50 m,Non stop,"₹ 7,419"
1,SpiceJet,"Wed, Sep 28",New Delhi,Bengaluru,20:00,22:30,02 h 30 m,Non stop,"₹ 7,419"
2,Go First,"Wed, Sep 28",New Delhi,Bengaluru,05:50,08:35,02 h 45 m,Non stop,"₹ 7,422"
3,IndiGo,"Wed, Sep 28",New Delhi,Bengaluru,02:25,05:15,02 h 50 m,Non stop,"₹ 7,424"
4,IndiGo,"Wed, Sep 28",New Delhi,Bengaluru,03:50,06:40,02 h 50 m,Non stop,"₹ 7,424"
5,IndiGo,"Wed, Sep 28",New Delhi,Bengaluru,06:00,08:35,02 h 35 m,Non stop,"₹ 7,424"
6,IndiGo,"Wed, Sep 28",New Delhi,Bengaluru,06:55,09:50,02 h 55 m,Non stop,"₹ 7,424"
7,IndiGo,"Wed, Sep 28",New Delhi,Bengaluru,08:20,11:00,02 h 40 m,Non stop,"₹ 7,424"
8,IndiGo,"Wed, Sep 28",New Delhi,Bengaluru,09:15,11:55,02 h 40 m,Non stop,"₹ 7,424"
9,IndiGo,"Wed, Sep 28",New Delhi,Bengaluru,13:00,15:35,02 h 35 m,Non stop,"₹ 7,424"
10,IndiGo,"Wed, Sep 28",New Delhi,Bengaluru,15:20,18:15,02 h 55 m,Non stop,"₹ 7,424"
11,IndiGo,"Wed, Sep 28",New Delhi,Bengaluru,17:15,19:55,02 h 40 m,Non stop,"₹ 7,424"
12,IndiGo,"Wed, Sep 28",New Delhi,Bengaluru,18:30,21:15,02 h 45 m,Non stop,"₹ 7,424"
13,IndiGo,"Wed, Sep 28",New Delhi,Bengaluru,20:10,23:00,02 h 50 m,Non stop,"₹ 7,424"
14,IndiGo,"Wed, Sep 28",New Delhi,Bengaluru,21:30,00:15,02 h 45 m,Non stop,"₹ 7,424"
15,IndiGo,"Wed, Sep 28",New Delhi,Bengaluru,22:55,01:45,02 h 50 m,Non stop,"₹ 7,424"
16,Air India,"Wed, Sep 28",New Delhi,Bengaluru,06:10,08:55,02 h 45 m,Non stop,"₹ 7,425"
17,Air India,"Wed, Sep 28",New Delhi,Bengaluru,08:00,10:30,02 h 30 m,Non stop,"₹ 7,425"
18,AirAsia,"Wed, Sep 28",New Delhi,Bengaluru,08:10,10:40,02 h 30 m,Non stop,"₹ 7,425"
19,AirAsia,"Wed, Sep 28",New Delhi,Bengaluru,09:35,12:25,02 h 50 m,Non stop,"₹ 7,425"
20,Air India,"Wed, Sep 28",New Delhi,Bengaluru,09:45,12:30,02 h 45 m,Non stop,"₹ 7,425"
21,Air India,"Wed, Sep 28",New Delhi,Bengaluru,13:30,16:15,02 h 45 m,Non stop,"₹ 7,425"
22,Air India,"Wed, Sep 28",New Delhi,Bengaluru,15:30,18:20,02 h 50 m,Non stop,"₹ 7,425"
23,Air India,"Wed, Sep 28",New Delhi,Bengaluru,17:15,20:15,03 h,Non stop,"₹ 7,425"
24,AirAsia,"Wed, Sep 28",New Delhi,Bengaluru,21:00,23:50,02 h 50 m,Non stop,"₹ 7,425"
25,Air India,"Wed, Sep 28",New Delhi,Bengaluru,21:15,00:05,02 h 50 m,Non stop,"₹ 7,425"
26,AirAsia,"Wed, Sep 28",New Delhi,Bengaluru,21:50,00:35,02 h 45 m,Non stop,"₹ 7,425"
27,Go First,"Wed, Sep 28",New Delhi,Bengaluru,20:45,23:25,02 h 40 m,Non stop,"₹ 7,623"
28,AirAsia,"Wed, Sep 28",New Delhi,Bengaluru,06:05,13:00,06 h 55 m,1 stop via Visakhapatnam,"₹ 7,710"
29,Vistara,"Wed, Sep 28",New Delhi,Bengaluru,06:15,09:00,02 h 45 m,Non stop,"₹ 8,087"
30,Go First,"Wed, Sep 28",New Delhi,Bengaluru,14:30,22:15,07 h 45 m,1 stop via Mumbai,"₹ 8,259"
31,Vistara,"Wed, Sep 28",New Delhi,Bengaluru,08:10,10:50,02 h 40 m,Non stop,"₹ 8,748"
32,AirAsia,"Wed, Sep 28",New Delhi,Bengaluru,18:45,21:40,02 h 55 m,Non stop,"₹ 8,841"
33,Vistara,"Wed, Sep 28",New Delhi,Bengaluru,14:15,17:05,02 h 50 m,Non stop,"₹ 9,418"
34,Vistara,"Wed, Sep 28",New Delhi,Bengaluru,16:05,18:50,02 h 45 m,Non stop,"₹ 9,418"
35,Go First,"Wed, Sep 28",New Delhi,Bengaluru,19:40,00:10,04 h 30 m,1 stop via Pune,"₹ 9,418"
36,Vistara,"Wed, Sep 28",New Delhi,Bengaluru,09:05,11:50,02 h 45 m,Non stop,"₹ 9,945"
37,Vistara,"Wed, Sep 28",New Delhi,Bengaluru,17:35,20:25,02 h 50 m,Non stop,"₹ 9,945"
38,Vistara,"Wed, Sep 28",New Delhi,Bengaluru,20:40,23:20,02 h 40 m,Non stop,"₹ 9,945"
39,AirAsia,"Wed, Sep 28",New Delhi,Bengaluru,07:20,12:10,04 h 50 m,1 stop via Lucknow,"₹ 9,979"
40,Vistara,"Wed, Sep 28",New Delhi,Bengaluru,19:50,22:40,02 h 50 m,Non stop,"₹ 10,575"
41,Vistara,"Wed, Sep 28",New Delhi,Bengaluru,18:00,21:50,03 h 50 m,1 stop via Indore,"₹ 10,680"
42,Go First,"Wed, Sep 28",New Delhi,Bengaluru,10:45,15:00,04 h 15 m,1 stop via Goa,"₹ 12,902"

#### Fetching data of flight from New Delhi to Chennai

In [9]:
ORIGIN = "DEL"
DESTINATION = "MAA"
start_date = "28/09/2022"
URL = "https://www.makemytrip.com/flight/search?tripType=O&itinerary=" + ORIGIN + "-" + DESTINATION + "-" + start_date + "&paxType=A-1_C-0_I-0&cabinClass=E&sTime=1653908247075&forwardFlowRequired=true&mpo=&semType=&intl=false"
data_list = []
rows = []

driver2.get(URL)
time.sleep(5)

In [10]:
i=0
while(i<2000):
    driver2.execute_script("window.scrollBy(0,10000)") # scroll down to get access to data for scraping
    i+=1

In [11]:
Airlines2= []
Src2= []
Dest2= []
Depart_Time2= []
Arriv_Time2= []
Dur2= []
T_Stops2= []
Prices2= []

#fetching Airlines Name
try:
    Airlines_tag = driver2.find_elements(By.XPATH, "//div[@class='makeFlex align-items-center gap-x-10 airline-info-wrapper']/div/p[1]")
    for i in Airlines_tag:
        Airlines2.append(i.text)
except:
    Airlines2.append('-')
    
#fetching all source
try:
    Src_tag = driver2.find_elements(By.XPATH, "//div[@class='flexOne timeInfoLeft']/p[2]/font")
    for i in Src_tag:
        Src2.append(i.text)
except:
    Src2.append('-')
    
#fetching Destination
try:
    Dest_tag = driver2.find_elements(By.XPATH, "//div[@class='flexOne timeInfoRight']/p[2]/font")
    for i in Dest_tag:
        Dest2.append(i.text)
except:
    Dest2.append('-')
    
#fetching all Departure Time
try:
    Depart_tag = driver2.find_elements(By.XPATH, "//div[@class='flexOne timeInfoLeft']/p[1]/span")
    for i in Depart_tag:
        Depart_Time2.append(i.text)
except:
    Depart_Time2.append('-')
    
#fetching all Arrival Time
try:
    Arriv_tag = driver2.find_elements(By.XPATH, "//div[@class='flexOne timeInfoRight']/p[1]/span[1]")
    for i in Arriv_tag:
        Arriv_Time2.append(i.text)
except:
    Arriv_Time2.append('-')
    
#fetching total Duration
try:
    Dur_tag = driver2.find_elements(By.XPATH, "//div[@class='stop-info flexOne']/p")
    for i in Dur_tag:
        Dur2.append(i.text)
except:
    Dur2.append('-')
    
#fetching Total Stops
try:
    T_Stops_tag = driver2.find_elements(By.XPATH, "//div[@class='stop-info flexOne']/div/p")
    for i in T_Stops_tag:
        T_Stops2.append(i.text)
except:
    T_Stops2.append('-')
    
#fetching all Price
try:
    Prices_tag = driver2.find_elements(By.XPATH, "//div[@class='textRight flexOne']/p")
    for i in Prices_tag:
        Prices2.append(i.text)
except:
    Prices2.append('-')

In [13]:
Deptt_Date2=[]
#fetching all Departure Date
try:
    Dept_Date_tag = driver2.find_elements(By.XPATH, "//div[@class='weeklyFareItems activeDate glider-slide visible right-2']/a/p[1]")
    for j in range(0,19):
        for i in Dept_Date_tag:
            Deptt_Date2.append(i.text)
except:
    Deptt_Date2.append('-')

In [14]:
print(len(Airlines2), len(Deptt_Date2), len(Src2), len(Dest2), len(Depart_Time2), len(Arriv_Time2), len(Dur2), len(T_Stops2), len(Prices2))

19 19 19 19 19 19 19 19 19

In [15]:
make_my_trip1=pd.DataFrame({'Airline_Name':Airlines2,'Date_of Journey':Deptt_Date2, 'Source':Src2,'Destination':Dest2,'Departure_Time':Depart_Time2,'Arrival_Time': Arriv_Time2,'Duration': Dur2,'Total_Stops':T_Stops2,'Price':Prices2})
make_my_trip1

,Airline_Name,Date_of Journey,Source,Destination,Departure_Time,Arrival_Time,Duration,Total_Stops,Price
0,SpiceJet,"Wed, Sep 28",New Delhi,Chennai,08:45,11:25,02 h 40 m,Non stop,"₹ 7,423"
1,IndiGo,"Wed, Sep 28",New Delhi,Chennai,08:30,11:20,02 h 50 m,Non stop,"₹ 7,424"
2,IndiGo,"Wed, Sep 28",New Delhi,Chennai,09:50,12:45,02 h 55 m,Non stop,"₹ 7,424"
3,IndiGo,"Wed, Sep 28",New Delhi,Chennai,12:55,15:50,02 h 55 m,Non stop,"₹ 7,424"
4,IndiGo,"Wed, Sep 28",New Delhi,Chennai,15:40,18:35,02 h 55 m,Non stop,"₹ 7,424"
5,IndiGo,"Wed, Sep 28",New Delhi,Chennai,17:25,20:15,02 h 50 m,Non stop,"₹ 7,424"
6,IndiGo,"Wed, Sep 28",New Delhi,Chennai,19:10,22:10,03 h,Non stop,"₹ 7,424"
7,IndiGo,"Wed, Sep 28",New Delhi,Chennai,20:30,23:20,02 h 50 m,Non stop,"₹ 7,424"
8,IndiGo,"Wed, Sep 28",New Delhi,Chennai,23:00,01:55,02 h 55 m,Non stop,"₹ 7,424"
9,Air India,"Wed, Sep 28",New Delhi,Chennai,05:55,08:55,03 h,Non stop,"₹ 7,425"
10,Vistara,"Wed, Sep 28",New Delhi,Chennai,07:00,09:50,02 h 50 m,Non stop,"₹ 7,425"
11,Air India,"Wed, Sep 28",New Delhi,Chennai,09:45,12:40,02 h 55 m,Non stop,"₹ 7,425"
12,Vistara,"Wed, Sep 28",New Delhi,Chennai,13:35,16:25,02 h 50 m,Non stop,"₹ 7,425"
13,Air India,"Wed, Sep 28",New Delhi,Chennai,16:15,19:30,03 h 15 m,Non stop,"₹ 7,425"
14,Vistara,"Wed, Sep 28",New Delhi,Chennai,19:55,22:45,02 h 50 m,Non stop,"₹ 7,425"
15,Air India,"Wed, Sep 28",New Delhi,Chennai,20:40,23:35,02 h 55 m,Non stop,"₹ 7,425"
16,AirAsia,"Wed, Sep 28",New Delhi,Chennai,07:10,22:00,14 h 50 m,1 stop via Guwahati,"₹ 7,866"
17,Vistara,"Wed, Sep 28",New Delhi,Chennai,17:25,20:15,02 h 50 m,Non stop,"₹ 8,087"
18,IndiGo,"Wed, Sep 28",New Delhi,Chennai,02:25,08:05,05 h 40 m,1 stop via Bengaluru,"₹ 8,597"

#### Fetching data of flight from New Delhi to Male:Maldives

In [16]:
ORIGIN = "DEL"
DESTINATION = "MLE"
start_date = "28/09/2022"
URL = "https://www.makemytrip.com/flight/search?tripType=O&itinerary=" + ORIGIN + "-" + DESTINATION + "-" + start_date + "&paxType=A-1_C-0_I-0&cabinClass=E&sTime=1653908247075&forwardFlowRequired=true&mpo=&semType=&intl=false"
data_list = []
rows = []

driver2.get(URL)
time.sleep(5)

In [17]:
i=0
while(i<2000):
    driver2.execute_script("window.scrollBy(0,10000)") # scroll down to get access to data for scraping
    i+=1

In [18]:
Airlines3= []
Src3= []
Dest3= []
Depart_Time3= []
Arriv_Time3= []
Dur3= []
T_Stops3= []
Prices3= []

#fetching Airlines Name
try:
    Airlines_tag = driver2.find_elements(By.XPATH, "//div[@class='makeFlex align-items-center gap-x-10 airline-info-wrapper']/div/p[1]")
    for i in Airlines_tag:
        Airlines3.append(i.text)
except:
    Airlines3.append('-')
    
#fetching all source
try:
    Src_tag = driver2.find_elements(By.XPATH, "//div[@class='flexOne timeInfoLeft']/p[2]/font")
    for i in Src_tag:
        Src3.append(i.text)
except:
    Src3.append('-')
    
#fetching Destination
try:
    Dest_tag = driver2.find_elements(By.XPATH, "//div[@class='flexOne timeInfoRight']/p[2]/font")
    for i in Dest_tag:
        Dest3.append(i.text)
except:
    Dest3.append('-')
    
#fetching all Departure Time
try:
    Depart_tag = driver2.find_elements(By.XPATH, "//div[@class='flexOne timeInfoLeft']/p[1]/span")
    for i in Depart_tag:
        Depart_Time3.append(i.text)
except:
    Depart_Time3.append('-')

#fetching all Arrival Time    
try:
    Arriv_tag = driver2.find_elements(By.XPATH, "//div[@class='flexOne timeInfoRight']/p[1]/span[1]")
    for i in Arriv_tag:
        Arriv_Time3.append(i.text)
except:
    Arriv_Time3.append('-')
    
#fetching total Duration
try:
    Dur_tag = driver2.find_elements(By.XPATH, "//div[@class='stop-info flexOne']/p")
    for i in Dur_tag:
        Dur3.append(i.text)
except:
    Dur3.append('-')
    
#fetching Total Stops
try:
    T_Stops_tag = driver2.find_elements(By.XPATH, "//div[@class='stop-info flexOne']/div/p")
    for i in T_Stops_tag:
        T_Stops3.append(i.text)
except:
    T_Stops3.append('-')
    
#fetching all Price
try:
    Prices_tag = driver2.find_elements(By.XPATH, "//div[@class='textRight flexOne']/p")
    for i in Prices_tag:
        Prices3.append(i.text)
except:
    Prices3.append('-')

In [20]:
#fetching all Departure Date
Dept_Date3= []

try:
    Dept_Date_tag = driver2.find_elements(By.XPATH, "//div[@class='weeklyFareItems activeDate glider-slide visible right-2']/a/p[1]")
    for j in range(0,101):
        for i in Dept_Date_tag:
            Dept_Date3.append(i.text)
except:
    Dept_Date3.append('-')

In [21]:
print(len(Airlines3), len(Dept_Date3), len(Src3), len(Dest3), len(Depart_Time3), len(Arriv_Time3), len(Dur3), len(T_Stops3), len(Prices3))

93 101 93 93 93 93 93 93 104

In [23]:
make_my_trip3=pd.DataFrame({'Airline_Name':Airlines3,'Date_of Journey':Dept_Date3[:93], 'Source':Src3,'Destination':Dest3,'Departure_Time':Depart_Time3,'Arrival_Time': Arriv_Time3,'Duration': Dur3,'Total_Stops':T_Stops3,'Price':Prices3[:93]})
make_my_trip3

,Airline_Name,Date_of Journey,Source,Destination,Departure_Time,Arrival_Time,Duration,Total_Stops,Price
0,IndiGo,"Wed, Sep 28",New Delhi,Male,17:55,16:35,23 h 10 m,1 stop via Kochi,"₹ 8,688"
1,Go First,"Wed, Sep 28",New Delhi,Male,05:50,13:25,08 h 05 m,1 stop via Bengaluru,"₹ 12,427₹ 11,177"
2,Srilankan Airlines,"Wed, Sep 28",New Delhi,Male,18:45,08:15,14 h,1 stop via Colombo,"₹ 1,250 Deal"
3,IndiGo,"Wed, Sep 28",New Delhi,Male,09:35,16:35,07 h 30 m,1 stop via Kochi,"₹ 12,157"
4,IndiGo,"Wed, Sep 28",New Delhi,Male,03:50,11:20,08 h,1 stop via Bengaluru,"₹ 12,899"
...,...,...,...,...,...,...,...,...,...
88,"Air India, Singapore Airlines","Wed, Sep 28",New Delhi,Male,23:15,22:10,23 h 25 m,1 stop via Singapore,"₹ 1,22,312"
89,Swiss,"Wed, Sep 28",New Delhi,Male,01:15,07:30,30 h 45 m,1 stop via Zurich,"₹ 1,22,312"
90,Etihad Airways,"Wed, Sep 28",New Delhi,Male,21:05,06:10,09 h 35 m,1 stop via Abu Dhabi,"₹ 1,30,652"
91,Etihad Airways,"Wed, Sep 28",New Delhi,Male,04:45,06:10,25 h 55 m,1 stop via Abu Dhabi,"₹ 1,30,652"
92,Etihad Airways,"Wed, Sep 28",New Delhi,Male,04:45,08:15,28 h,"2 stop via Abu Dhabi,Colombo","₹ 1,33,695"

#### Fetching data of flight from Jaipur to New Delhi

In [24]:
ORIGIN = "JAI"
DESTINATION = "DEL"
start_date = "28/09/2022"
URL = "https://www.makemytrip.com/flight/search?tripType=O&itinerary=" + ORIGIN + "-" + DESTINATION + "-" + start_date + "&paxType=A-1_C-0_I-0&cabinClass=E&sTime=1653908247075&forwardFlowRequired=true&mpo=&semType=&intl=false"
data_list = []
rows = []

driver2.get(URL)
time.sleep(5)

In [25]:
i=0
while(i<2000):
    driver2.execute_script("window.scrollBy(0,10000)") # scroll down to get access to data for scraping
    i+=1

In [26]:
Airlines_3= []
Src_3= []
Dest_3= []
Depart_Time_3= []
Arriv_Time_3= []
Dur_3= []
T_Stops_3= []
Prices_3= []

#fetching Airlines Name
try:
    Airlines_tag = driver2.find_elements(By.XPATH, "//div[@class='makeFlex align-items-center gap-x-10 airline-info-wrapper']/div/p[1]")
    for i in Airlines_tag:
        Airlines_3.append(i.text)
except:
    Airlines_3.append('-')
    
#fetching all source
try:
    Src_tag = driver2.find_elements(By.XPATH, "//div[@class='flexOne timeInfoLeft']/p[2]/font")
    for i in Src_tag:
        Src_3.append(i.text)
except:
    Src_3.append('-')
    
#fetching Destination
try:
    Dest_tag = driver2.find_elements(By.XPATH, "//div[@class='flexOne timeInfoRight']/p[2]/font")
    for i in Dest_tag:
        Dest_3.append(i.text)
except:
    Dest_3.append('-')
    
#fetching all Departure Time
try:
    Depart_tag = driver2.find_elements(By.XPATH, "//div[@class='flexOne timeInfoLeft']/p[1]/span")
    for i in Depart_tag:
        Depart_Time_3.append(i.text)
except:
    Depart_Time_3.append('-')
    
#fetching all Arrival Time
try:
    Arriv_tag = driver2.find_elements(By.XPATH, "//div[@class='flexOne timeInfoRight']/p[1]/span[1]")
    for i in Arriv_tag:
        Arriv_Time_3.append(i.text)
except:
    Arriv_Time_3.append('-')
    
#fetching total Duration
try:
    Dur_tag = driver2.find_elements(By.XPATH, "//div[@class='stop-info flexOne']/p")
    for i in Dur_tag:
        Dur_3.append(i.text)
except:
    Dur_3.append('-')
    
#fetching Total Stops
try:
    T_Stops_tag = driver2.find_elements(By.XPATH, "//div[@class='stop-info flexOne']/div/p")
    for i in T_Stops_tag:
        T_Stops_3.append(i.text)
except:
    T_Stops_3.append('-')
    
#fetching all Price
try:
    Prices_tag = driver2.find_elements(By.XPATH, "//div[@class='textRight flexOne']/p")
    for i in Prices_tag:
        Prices_3.append(i.text)
except:
    Prices_3.append('-')

In [28]:
#fetching all Departure Date
Dept_Date_3= []

try:
    Dept_Date_tag = driver2.find_elements(By.XPATH, "//div[@class='weeklyFareItems activeDate glider-slide visible right-2']/a/p[1]")
    for j in range(0,9):
        for i in Dept_Date_tag:
            Dept_Date_3.append(i.text)
except:
    Dept_Date_3.append('-')

In [29]:
print(len(Airlines_3), len(Dept_Date_3), len(Src_3), len(Dest_3), len(Depart_Time_3), len(Arriv_Time_3), len(Dur_3), len(T_Stops_3), len(Prices_3))

9 9 9 9 9 9 9 9 9

In [30]:
make_my_trip_3=pd.DataFrame({'Airline_Name':Airlines_3,'Date_of Journey':Dept_Date_3, 'Source':Src_3,'Destination':Dest_3,'Departure_Time':Depart_Time_3,'Arrival_Time': Arriv_Time_3,'Duration': Dur_3,'Total_Stops':T_Stops_3,'Price':Prices_3})
make_my_trip_3

,Airline_Name,Date_of Journey,Source,Destination,Departure_Time,Arrival_Time,Duration,Total_Stops,Price
0,Alliance Air,"Wed, Sep 28",Jaipur,New Delhi,21:10,22:10,01 h,Non stop,"₹ 3,221"
1,SpiceJet,"Wed, Sep 28",Jaipur,New Delhi,06:25,07:25,01 h,Non stop,"₹ 3,745"
2,IndiGo,"Wed, Sep 28",Jaipur,New Delhi,06:40,07:40,01 h,Non stop,"₹ 3,746"
3,Alliance Air,"Wed, Sep 28",Jaipur,New Delhi,08:40,09:40,01 h,Non stop,"₹ 3,746"
4,IndiGo,"Wed, Sep 28",Jaipur,New Delhi,14:20,15:20,01 h,Non stop,"₹ 3,746"
5,IndiGo,"Wed, Sep 28",Jaipur,New Delhi,22:25,23:25,01 h,Non stop,"₹ 3,746"
6,AirAsia,"Wed, Sep 28",Jaipur,New Delhi,23:45,00:45,01 h,Non stop,"₹ 3,747"
7,IndiGo,"Wed, Sep 28",Jaipur,New Delhi,20:50,21:55,01 h 05 m,Non stop,"₹ 4,166"
8,Go First,"Wed, Sep 28",Jaipur,New Delhi,08:25,17:10,08 h 45 m,1 stop via Mumbai,"₹ 5,741"

#### Fetching data of flight from Jaipur to Bengaluru

In [32]:
ORIGIN = "JAI"
DESTINATION = "BLR"
start_date = "29/09/2022"
URL = "https://www.makemytrip.com/flight/search?tripType=O&itinerary=" + ORIGIN + "-" + DESTINATION + "-" + start_date + "&paxType=A-1_C-0_I-0&cabinClass=E&sTime=1653908247075&forwardFlowRequired=true&mpo=&semType=&intl=false"
data_list = []
rows = []

driver2.get(URL)
time.sleep(5)

In [33]:
i=0
while(i<2000):
    driver2.execute_script("window.scrollBy(0,10000)") # scroll down to get access to data for scraping
    i+=1

In [34]:
Airlines_2= []
Dept_Date_2= []
Src_2= []
Dest_2= []
Depart_Time_2= []
Arriv_Time_2= []
Dur_2= []
T_Stops_2= []
Prices_2= []

In [35]:
#fetching Airlines Name
try:
    Airlines_tag = driver2.find_elements(By.XPATH, "//div[@class='makeFlex align-items-center gap-x-10 airline-info-wrapper']/div/p[1]")
    for i in Airlines_tag:
        Airlines_2.append(i.text)
except:
    Airlines_2.append('-')
    
#fetching all source
try:
    Src_tag = driver2.find_elements(By.XPATH, "//div[@class='flexOne timeInfoLeft']/p[2]/font")
    for i in Src_tag:
        Src_2.append(i.text)
except:
    Src_2.append('-')
    
#fetching Destination
try:
    Dest_tag = driver2.find_elements(By.XPATH, "//div[@class='flexOne timeInfoRight']/p[2]/font")
    for i in Dest_tag:
        Dest_2.append(i.text)
except:
    Dest_2.append('-')
    
#fetching all Departure Time
try:
    Depart_tag = driver2.find_elements(By.XPATH, "//div[@class='flexOne timeInfoLeft']/p[1]/span")
    for i in Depart_tag:
        Depart_Time_2.append(i.text)
except:
    Depart_Time_2.append('-')
    
#fetching all Arrival Time
try:
    Arriv_tag = driver2.find_elements(By.XPATH, "//div[@class='flexOne timeInfoRight']/p[1]/span[1]")
    for i in Arriv_tag:
        Arriv_Time_2.append(i.text)
except:
    Arriv_Time_2.append('-')
    
#fetching total Duration
try:
    Dur_tag = driver2.find_elements(By.XPATH, "//div[@class='stop-info flexOne']/p")
    for i in Dur_tag:
        Dur_2.append(i.text)
except:
    Dur_2.append('-')
    
#fetching Total Stops
try:
    T_Stops_tag = driver2.find_elements(By.XPATH, "//div[@class='stop-info flexOne']/div/p")
    for i in T_Stops_tag:
        T_Stops_2.append(i.text)
except:
    T_Stops_2.append('-')
    
#fetching all Price
try:
    Prices_tag = driver2.find_elements(By.XPATH, "//div[@class='textRight flexOne']/p")
    for i in Prices_tag:
        Prices_2.append(i.text)
except:
    Prices_2.append('-')

In [41]:
#fetching all Departure Date
try:
    Dept_Date_tag = driver2.find_elements(By.XPATH, "//div[@class='weeklyFareItems activeDate glider-slide visible left-1']/a/p[1]")
    for j in range(0,22):
        for i in Dept_Date_tag:
            Dept_Date_2.append(i.text)
except:
    Dept_Date_2.append('-')

In [42]:
print(len(Airlines_2), len(Dept_Date_2), len(Src_2), len(Dest_2), len(Depart_Time_2), len(Arriv_Time_2), len(Dur_2), len(T_Stops_2), len(Prices_2))

22 22 22 22 22 22 22 22 22

In [43]:
make_my_trip_2=pd.DataFrame({'Airline_Name':Airlines_2,'Date_of Journey':Dept_Date_2, 'Source':Src_2,'Destination':Dest_2,'Departure_Time':Depart_Time_2,'Arrival_Time': Arriv_Time_2,'Duration': Dur_2,'Total_Stops':T_Stops_2,'Price':Prices_2})
make_my_trip_2

,Airline_Name,Date_of Journey,Source,Destination,Departure_Time,Arrival_Time,Duration,Total_Stops,Price
0,AirAsia,"Thu, Sep 29",Jaipur,Bengaluru,17:55,23:50,05 h 55 m,1 stop via Mumbai,"₹ 6,966"
1,AirAsia,"Thu, Sep 29",Jaipur,Bengaluru,10:25,23:50,13 h 25 m,1 stop via Mumbai,"₹ 6,966"
2,AirAsia,"Thu, Sep 29",Jaipur,Bengaluru,11:50,22:25,10 h 35 m,1 stop via Hyderabad,"₹ 7,265"
3,AirAsia,"Thu, Sep 29",Jaipur,Bengaluru,17:05,01:35,08 h 30 m,1 stop via Pune,"₹ 7,265"
4,AirAsia,"Thu, Sep 29",Jaipur,Bengaluru,23:45,10:40,10 h 55 m,1 stop via New Delhi,"₹ 7,265"
5,IndiGo,"Thu, Sep 29",Jaipur,Bengaluru,14:20,00:10,09 h 50 m,1 stop via Mumbai,"₹ 7,351"
6,IndiGo,"Thu, Sep 29",Jaipur,Bengaluru,12:40,22:50,10 h 10 m,1 stop via Ahmedabad,"₹ 7,474"
7,AirAsia,"Thu, Sep 29",Jaipur,Bengaluru,17:55,23:10,05 h 15 m,1 stop via Mumbai,"₹ 7,492"
8,IndiGo,"Thu, Sep 29",Jaipur,Bengaluru,20:05,01:55,05 h 50 m,1 stop via Mumbai,"₹ 7,561"
9,IndiGo,"Thu, Sep 29",Jaipur,Bengaluru,12:40,19:05,06 h 25 m,1 stop via Ahmedabad,"₹ 7,652"
10,Go First,"Thu, Sep 29",Jaipur,Bengaluru,18:15,20:30,02 h 15 m,Non stop,"₹ 7,733"
11,IndiGo,"Thu, Sep 29",Jaipur,Bengaluru,05:15,07:35,02 h 20 m,Non stop,"₹ 7,736"
12,IndiGo,"Thu, Sep 29",Jaipur,Bengaluru,10:35,12:50,02 h 15 m,Non stop,"₹ 7,736"
13,IndiGo,"Thu, Sep 29",Jaipur,Bengaluru,22:20,00:45,02 h 25 m,Non stop,"₹ 7,736"
14,Air India,"Thu, Sep 29",Jaipur,Bengaluru,14:00,18:20,04 h 20 m,1 stop via Mumbai,"₹ 7,769"
15,AirAsia,"Thu, Sep 29",Jaipur,Bengaluru,17:45,22:25,04 h 40 m,1 stop via Hyderabad,"₹ 9,521"
16,IndiGo,"Thu, Sep 29",Jaipur,Bengaluru,05:00,09:30,04 h 30 m,1 stop via Hyderabad,"₹ 9,731"
17,AirAsia,"Thu, Sep 29",Jaipur,Bengaluru,11:50,15:35,03 h 45 m,1 stop via Hyderabad,"₹ 9,731"
18,IndiGo,"Thu, Sep 29",Jaipur,Bengaluru,14:20,18:50,04 h 30 m,1 stop via Mumbai,"₹ 9,731"
19,AirAsia,"Thu, Sep 29",Jaipur,Bengaluru,17:05,21:00,03 h 55 m,1 stop via Pune,"₹ 9,731"
20,SpiceJet,"Thu, Sep 29",Jaipur,Bengaluru,05:25,16:50,11 h 25 m,1 stop via Pune,"₹ 10,046"
21,AirAsia,"Thu, Sep 29",Jaipur,Bengaluru,10:25,14:45,04 h 20 m,1 stop via Mumbai,"₹ 10,467"

#### Fetching data of flight from Agra to Chennai

In [45]:
ORIGIN = "AGR"
DESTINATION = "MAA"
start_date = "29/09/2022"
URL = "https://www.makemytrip.com/flight/search?tripType=O&itinerary=" + ORIGIN + "-" + DESTINATION + "-" + start_date + "&paxType=A-1_C-0_I-0&cabinClass=E&sTime=1653908247075&forwardFlowRequired=true&mpo=&semType=&intl=false"
data_list = []
rows = []

driver2.get(URL)
time.sleep(5)

In [46]:
i=0
while(i<2000):
    driver2.execute_script("window.scrollBy(0,10000)") # scroll down to get access to data for scraping
    i+=1

In [47]:
Airlines_1= []
Dept_Date_1= []
Src_1= []
Dest_1= []
Depart_Time_1= []
Arriv_Time_1= []
Dur_1= []
T_Stops_1= []
Prices_1= []

In [48]:
#fetching Airlines Name
try:
    Airlines_tag = driver2.find_elements(By.XPATH, "//div[@class='makeFlex align-items-center gap-x-10 airline-info-wrapper']/div/p[1]")
    for i in Airlines_tag:
        Airlines_1.append(i.text)
except:
    Airlines_1.append('-')
    
#fetching all source    
try:
    Src_tag = driver2.find_elements(By.XPATH, "//div[@class='flexOne timeInfoLeft']/p[2]/font")
    for i in Src_tag:
        Src_1.append(i.text)
except:
    Src_1.append('-')
    
#fetching Destination    
try:
    Dest_tag = driver2.find_elements(By.XPATH, "//div[@class='flexOne timeInfoRight']/p[2]/font")
    for i in Dest_tag:
        Dest_1.append(i.text)
except:
    Dest_1.append('-')
    
#fetching all Departure Time
try:
    Depart_tag = driver2.find_elements(By.XPATH, "//div[@class='flexOne timeInfoLeft']/p[1]/span")
    for i in Depart_tag:
        Depart_Time_1.append(i.text)
except:
    Depart_Time_1.append('-')
    
#fetching all Arrival Time
try:
    Arriv_tag = driver2.find_elements(By.XPATH, "//div[@class='flexOne timeInfoRight']/p[1]/span[1]")
    for i in Arriv_tag:
        Arriv_Time_1.append(i.text)
except:
    Arriv_Time_1.append('-')
    
#fetching total Duration
try:
    Dur_tag = driver2.find_elements(By.XPATH, "//div[@class='stop-info flexOne']/p")
    for i in Dur_tag:
        Dur_1.append(i.text)
except:
    Dur_1.append('-')
    
#fetching Total Stops
try:
    T_Stops_tag = driver2.find_elements(By.XPATH, "//div[@class='stop-info flexOne']/div/p")
    for i in T_Stops_tag:
        T_Stops_1.append(i.text)
except:
    T_Stops_1.append('-')
    
#fetching all Price
try:
    Prices_tag = driver2.find_elements(By.XPATH, "//div[@class='textRight flexOne']/p")
    for i in Prices_tag:
        Prices_1.append(i.text)
except:
    Prices_1.append('-')

In [52]:
#fetching all Departure Date
try:
    Dept_Date_tag = driver2.find_elements(By.XPATH, "//div[@class='weeklyFareItems activeDate glider-slide visible left-1']/a/p[1]")
    for j in range(0,4):
        for i in Dept_Date_tag:
            Dept_Date_1.append(i.text)
except:
    Dept_Date_1.append('-')

In [53]:
print(len(Airlines_1), len(Dept_Date_1), len(Src_1), len(Dest_1), len(Depart_Time_1), len(Arriv_Time_1), len(Dur_1), len(T_Stops_1), len(Prices_1))

4 4 4 4 4 4 4 4 4

In [54]:
make_my_trip_1=pd.DataFrame({'Airline_Name':Airlines_1,'Date_of Journey':Dept_Date_1, 'Source':Src_1,'Destination':Dest_1,'Departure_Time':Depart_Time_1,'Arrival_Time': Arriv_Time_1,'Duration': Dur_1,'Total_Stops':T_Stops_1,'Price':Prices_1})
make_my_trip_1

,Airline_Name,Date_of Journey,Source,Destination,Departure_Time,Arrival_Time,Duration,Total_Stops,Price
0,IndiGo,"Thu, Sep 29",Agra,Chennai,15:00,02:10,11 h 10 m,1 stop via Mumbai,"₹ 7,013"
1,IndiGo,"Thu, Sep 29",Agra,Chennai,15:00,00:05,09 h 05 m,1 stop via Mumbai,"₹ 7,468"
2,IndiGo,"Thu, Sep 29",Agra,Chennai,12:25,00:10,11 h 45 m,1 stop via Ahmedabad,"₹ 7,954"
3,IndiGo,"Thu, Sep 29",Agra,Chennai,15:00,21:35,06 h 35 m,1 stop via Mumbai,"₹ 8,475"

#### Fetching data of flight from New Delhi to Tirupati

In [56]:
ORIGIN = "DEL"
DESTINATION = "TIR"
start_date = "30/09/2022"
URL = "https://www.makemytrip.com/flight/search?tripType=O&itinerary=" + ORIGIN + "-" + DESTINATION + "-" + start_date + "&paxType=A-1_C-0_I-0&cabinClass=E&sTime=1653908247075&forwardFlowRequired=true&mpo=&semType=&intl=false"
data_list = []
rows = []

driver2.get(URL)
time.sleep(5)

In [57]:
i=0
while(i<2000):
    driver2.execute_script("window.scrollBy(0,10000)") # scroll down to get access to data for scraping
    i+=1

In [58]:
Airlines_0= []
Dept_Date_0= []
Src_0= []
Dest_0= []
Depart_Time_0= []
Arriv_Time_0= []
Dur_0= []
T_Stops_0= []
Prices_0= []

In [59]:
#fetching Airlines Name
try:
    Airlines_tag = driver2.find_elements(By.XPATH, "//div[@class='makeFlex align-items-center gap-x-10 airline-info-wrapper']/div/p[1]")
    for i in Airlines_tag:
        Airlines_0.append(i.text)
except:
    Airlines_0.append('-')
    
#fetching Source
try:
    Src_tag = driver2.find_elements(By.XPATH, "//div[@class='flexOne timeInfoLeft']/p[2]/font")
    for i in Src_tag:
        Src_0.append(i.text)
except:
    Src_0.append('-')
    
#fetching Destination
try:
    Dest_tag = driver2.find_elements(By.XPATH, "//div[@class='flexOne timeInfoRight']/p[2]/font")
    for i in Dest_tag:
        Dest_0.append(i.text)
except:
    Dest_0.append('-')

#fetching Departure Time
try:
    Depart_tag = driver2.find_elements(By.XPATH, "//div[@class='flexOne timeInfoLeft']/p[1]/span")
    for i in Depart_tag:
        Depart_Time_0.append(i.text)
except:
    Depart_Time_0.append('-')

#fetching all Arrival Time
try:
    Arriv_tag = driver2.find_elements(By.XPATH, "//div[@class='flexOne timeInfoRight']/p[1]/span[1]")
    for i in Arriv_tag:
        Arriv_Time_0.append(i.text)
except:
    Arriv_Time_0.append('-')

#fetching total Duration
try:
    Dur_tag = driver2.find_elements(By.XPATH, "//div[@class='stop-info flexOne']/p")
    for i in Dur_tag:
        Dur_0.append(i.text)
except:
    Dur_0.append('-')
    
#fetching Total Stops
try:
    T_Stops_tag = driver2.find_elements(By.XPATH, "//div[@class='stop-info flexOne']/div/p")
    for i in T_Stops_tag:
        T_Stops_0.append(i.text)
except:
    T_Stops_0.append('-')

#fetching all Price
try:
    Prices_tag = driver2.find_elements(By.XPATH, "//div[@class='textRight flexOne']/p")
    for i in Prices_tag:
        Prices_0.append(i.text)
except:
    Prices_0.append('-')

In [61]:
#fetching all Departure Date
try:
    Dept_Date_tag = driver2.find_elements(By.XPATH, "//div[@class='weeklyFareItems activeDate glider-slide visible left-1']/a/p[1]")
    for j in range(0,21):
        for i in Dept_Date_tag:
            Dept_Date_0.append(i.text)
except:
    Dept_Date_0.append('-')

In [62]:
print(len(Airlines_0), len(Dept_Date_0), len(Src_0), len(Dest_0), len(Depart_Time_0), len(Arriv_Time_0), len(Dur_0), len(T_Stops_0), len(Prices_0))

21 21 21 21 21 21 21 21 21

In [63]:
make_my_trip_0=pd.DataFrame({'Airline_Name':Airlines_0,'Date_of Journey':Dept_Date_0, 'Source':Src_0,'Destination':Dest_0,'Departure_Time':Depart_Time_0,'Arrival_Time': Arriv_Time_0,'Duration': Dur_0,'Total_Stops':T_Stops_0,'Price':Prices_0})
make_my_trip_0

,Airline_Name,Date_of Journey,Source,Destination,Departure_Time,Arrival_Time,Duration,Total_Stops,Price
0,SpiceJet,"Fri, Sep 30",New Delhi,Tirupati,09:25,19:00,09 h 35 m,1 stop via Pune,"₹ 8,579"
1,SpiceJet,"Fri, Sep 30",New Delhi,Tirupati,22:00,07:30,09 h 30 m,1 stop via Hyderabad,"₹ 8,579"
2,SpiceJet,"Fri, Sep 30",New Delhi,Tirupati,21:00,07:30,10 h 30 m,1 stop via Hyderabad,"₹ 8,579"
3,IndiGo,"Fri, Sep 30",New Delhi,Tirupati,01:50,07:50,06 h,1 stop via Hyderabad,"₹ 8,894"
4,IndiGo,"Fri, Sep 30",New Delhi,Tirupati,06:00,11:55,05 h 55 m,1 stop via Bengaluru,"₹ 8,894"
5,IndiGo,"Fri, Sep 30",New Delhi,Tirupati,03:50,11:55,08 h 05 m,1 stop via Bengaluru,"₹ 8,894"
6,IndiGo,"Fri, Sep 30",New Delhi,Tirupati,02:25,11:55,09 h 30 m,1 stop via Bengaluru,"₹ 8,894"
7,IndiGo,"Fri, Sep 30",New Delhi,Tirupati,09:55,13:55,04 h,1 stop via Hyderabad,"₹ 8,894"
8,IndiGo,"Fri, Sep 30",New Delhi,Tirupati,07:55,13:55,06 h,1 stop via Hyderabad,"₹ 8,894"
9,IndiGo,"Fri, Sep 30",New Delhi,Tirupati,09:55,16:30,06 h 35 m,1 stop via Hyderabad,"₹ 8,894"
10,IndiGo,"Fri, Sep 30",New Delhi,Tirupati,13:25,19:20,05 h 55 m,1 stop via Hyderabad,"₹ 8,894"
11,IndiGo,"Fri, Sep 30",New Delhi,Tirupati,12:45,19:20,06 h 35 m,1 stop via Hyderabad,"₹ 8,894"
12,IndiGo,"Fri, Sep 30",New Delhi,Tirupati,22:30,07:50,09 h 20 m,1 stop via Hyderabad,"₹ 8,894"
13,IndiGo,"Fri, Sep 30",New Delhi,Tirupati,21:15,07:50,10 h 35 m,1 stop via Hyderabad,"₹ 8,894"
14,IndiGo,"Fri, Sep 30",New Delhi,Tirupati,19:35,08:15,12 h 40 m,1 stop via Visakhapatnam,"₹ 8,894"
15,Air India,"Fri, Sep 30",New Delhi,Tirupati,09:45,13:45,04 h,1 stop via Hyderabad,"₹ 10,155"
16,Air India,"Fri, Sep 30",New Delhi,Tirupati,07:10,13:45,06 h 35 m,1 stop via Hyderabad,"₹ 10,680"
17,Air India,"Fri, Sep 30",New Delhi,Tirupati,22:30,13:45,15 h 15 m,"2 stop via Mumbai,Hyderabad","₹ 13,095"
18,Air India,"Fri, Sep 30",New Delhi,Tirupati,21:15,13:45,16 h 30 m,"2 stop via Mumbai,Hyderabad","₹ 13,095"
19,Air India,"Fri, Sep 30",New Delhi,Tirupati,20:00,13:45,17 h 45 m,"2 stop via Mumbai,Hyderabad","₹ 13,305"
20,Air India,"Fri, Sep 30",New Delhi,Tirupati,19:00,13:45,18 h 45 m,"2 stop via Mumbai,Hyderabad","₹ 13,830"

### Merging all dataframes of makemytrip website

In [64]:
make_my_trip_data=pd.concat([make_my_trip, make_my_trip1, make_my_trip3, make_my_trip_3, make_my_trip_2, make_my_trip_1, make_my_trip_0],ignore_index=True)
make_my_trip_data

,Airline_Name,Date_of Journey,Source,Destination,Departure_Time,Arrival_Time,Duration,Total_Stops,Price
0,SpiceJet,"Wed, Sep 28",New Delhi,Bengaluru,06:05,08:55,02 h 50 m,Non stop,"₹ 7,419"
1,SpiceJet,"Wed, Sep 28",New Delhi,Bengaluru,20:00,22:30,02 h 30 m,Non stop,"₹ 7,419"
2,Go First,"Wed, Sep 28",New Delhi,Bengaluru,05:50,08:35,02 h 45 m,Non stop,"₹ 7,422"
3,IndiGo,"Wed, Sep 28",New Delhi,Bengaluru,02:25,05:15,02 h 50 m,Non stop,"₹ 7,424"
4,IndiGo,"Wed, Sep 28",New Delhi,Bengaluru,03:50,06:40,02 h 50 m,Non stop,"₹ 7,424"
...,...,...,...,...,...,...,...,...,...
206,Air India,"Fri, Sep 30",New Delhi,Tirupati,07:10,13:45,06 h 35 m,1 stop via Hyderabad,"₹ 10,680"
207,Air India,"Fri, Sep 30",New Delhi,Tirupati,22:30,13:45,15 h 15 m,"2 stop via Mumbai,Hyderabad","₹ 13,095"
208,Air India,"Fri, Sep 30",New Delhi,Tirupati,21:15,13:45,16 h 30 m,"2 stop via Mumbai,Hyderabad","₹ 13,095"
209,Air India,"Fri, Sep 30",New Delhi,Tirupati,20:00,13:45,17 h 45 m,"2 stop via Mumbai,Hyderabad","₹ 13,305"
210,Air India,"Fri, Sep 30",New Delhi,Tirupati,19:00,13:45,18 h 45 m,"2 stop via Mumbai,Hyderabad","₹ 13,830"

### Converting data of makemytrip website into csv

In [65]:
make_my_trip_data.to_csv('make_my_trip_data', index=True)

In [66]:
#closing driver
driver2.close()

#### Importing saved csv data of yatra website

In [67]:
yatra_data=pd.read_csv("yatra_data")

### Merging both website Data (yatra.com and makemytrip.com)

In [68]:
flight_price_prediction=pd.concat([yatra_data, make_my_trip_data], ignore_index=True)
flight_price_prediction

,Unnamed: 0,Airline_Name,Date_of Journey,Source,Destination,Departure_Time,Arrival_Time,Duration,Total_Stops,Price
0,0.0,SpiceJet,"Tue, Dec 13",New Delhi,Mumbai,18:55,21:05,2h 10m,Non Stop,"5,951"
1,1.0,SpiceJet,"Tue, Dec 13",New Delhi,Mumbai,19:45,22:05,2h 20m,Non Stop,"5,951"
2,2.0,Go First,"Tue, Dec 13",New Delhi,Mumbai,07:00,09:10,2h 10m,Non Stop,"5,953"
3,3.0,Go First,"Tue, Dec 13",New Delhi,Mumbai,08:00,10:10,2h 10m,Non Stop,"5,953"
4,4.0,Go First,"Tue, Dec 13",New Delhi,Mumbai,15:00,17:15,2h 15m,Non Stop,"5,953"
...,...,...,...,...,...,...,...,...,...,...
1609,NaN,Air India,"Fri, Sep 30",New Delhi,Tirupati,07:10,13:45,06 h 35 m,1 stop via Hyderabad,"₹ 10,680"
1610,NaN,Air India,"Fri, Sep 30",New Delhi,Tirupati,22:30,13:45,15 h 15 m,"2 stop via Mumbai,Hyderabad","₹ 13,095"
1611,NaN,Air India,"Fri, Sep 30",New Delhi,Tirupati,21:15,13:45,16 h 30 m,"2 stop via Mumbai,Hyderabad","₹ 13,095"
1612,NaN,Air India,"Fri, Sep 30",New Delhi,Tirupati,20:00,13:45,17 h 45 m,"2 stop via Mumbai,Hyderabad","₹ 13,305"
1613,NaN,Air India,"Fri, Sep 30",New Delhi,Tirupati,19:00,13:45,18 h 45 m,"2 stop via Mumbai,Hyderabad","₹ 13,830"

#### Finally Saving data into CSV

In [69]:
flight_price_prediction.to_csv('flight_price_prediction', index=True)